Repository kagent-dev/kagent, changes with the owners that CODEOWNERS names for each.
All owners: @EItanya, @peterj, @ilackarms, @yuval-k

CODEOWNERS:

/*      @EItanya @peterj @ilackarms @yuval-k
python/ @EItanya @peterj @yuval-k
go/     @EItanya @ilackarms @yuval-k
ui/     @peterj
helm/   @EItanya @ilackarms @yuval-k

feature(helm): Add support for affinities
  helm/kagent/templates/controller-deployment.yaml
  helm/kagent/templates/ui-deployment.yaml
  helm/kagent/values.yaml
  helm/tools/grafana-mcp/templates/deployment.yaml
  helm/tools/grafana-mcp/values.yaml
  helm/tools/querydoc/templates/deployment.yaml
  helm/tools/querydoc/values.yaml
Owners: @EItanya, @ilackarms, @yuval-k

fix: kagent.yaml -> agent.yaml
  go/cli/agent/frameworks/adk/python/templates/agent/mcp_tools.py.tmpl
  go/cli/agent/frameworks/common/manifest_manager.go
  go/cli/cli/agent/add_mcp.go
  go/cli/cli/agent/build.go
  go/cli/cli/agent/deploy.go
  go/cli/cli/agent/run.go
  go/cli/cli/agent/utils.go
  go/cmd/cli/main.go
Owners: @EItanya, @ilackarms, @yuval-k

fix: incorrect pkg na,e
  go/cli/cli/agent/add_mcp.go
  go/cli/cli/agent/bug_report.go
  go/cli/cli/agent/build.go
  go/cli/cli/agent/const.go
  go/cli/cli/agent/const_test.go
  go/cli/cli/agent/dashboard.go
  go/cli/cli/agent/deploy.go
  go/cli/cli/agent/format.go
  go/cli/cli/agent/get.go
  go/cli/cli/agent/init.go
  go/cli/cli/agent/install.go
  go/cli/cli/agent/invoke.go
  go/cli/cli/agent/run.go
  go/cli/cli/agent/utils.go
  go/cli/cli/agent/version.go
Owners: @EItanya, @ilackarms, @yuval-k

feat: Kagent-Controller Helm Chart Volume Mounts
  helm/kagent/templates/controller-deployment.yaml
  helm/kagent/values.yaml
Owners: @EItanya, @ilackarms, @yuval-k

don't print kagent instructions
  go/cli/agent/frameworks/adk/python/generator.go
  go/cli/cli/agent/init.go
Owners: @EItanya, @ilackarms, @yuval-k

make version configurable
  go/cli/cli/agent/init.go
  go/cmd/cli/main.go
Owners: @EItanya, @ilackarms, @yuval-k

comment and test fixes
  examples/modelconfig-with-tls.yaml
  go/api/v1alpha2/modelconfig_types.go
  go/config/crd/bases/kagent.dev_modelconfigs.yaml
  go/internal/controller/translator/agent/testdata/inputs/tls-with-custom-ca.yaml
  go/internal/controller/translator/agent/testdata/inputs/tls-with-disabled-verify.yaml
  go/internal/controller/translator/agent/testdata/inputs/tls-with-system-cas-disabled.yaml
  go/internal/controller/translator/agent/testdata/outputs/agent_with_mcp_service.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_nested_agent.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_system_message_from_configmap.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_system_message_from_secret.json
  go/internal/controller/translator/agent/testdata/outputs/anthropic_agent.json
  go/internal/controller/translator/agent/testdata/outputs/basic_agent.json
  go/internal/controller/translator/agent/testdata/outputs/ollama_agent.json
  go/internal/controller/translator/agent/testdata/outputs/tls-with-custom-ca.json
  go/internal/controller/translator/agent/testdata/outputs/tls-with-disabled-verify.json
  go/internal/controller/translator/agent/testdata/outputs/tls-with-system-cas-disabled.json
  go/internal/controller/translator/agent/tls_mounting_test.go
  python/packages/kagent-adk/src/kagent/adk/models/_openai.py
  python/packages/kagent-adk/src/kagent/adk/models/_ssl.py
  python/packages/kagent-adk/tests/E2E_TEST_SUMMARY.md
  python/packages/kagent-adk/tests/unittests/models/test_openai.py
  python/packages/kagent-adk/tests/unittests/models/test_ssl.py
  python/packages/kagent-adk/tests/unittests/models/test_tls_e2e.py
  python/packages/kagent-adk/tests/unittests/models/test_tls_integration.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

add missed category
  go/config/crd/bases/kagent.dev_modelconfigs.yaml
  helm/kagent-crds/templates/kagent.dev_modelconfigs.yaml
Owners: @EItanya, @ilackarms, @yuval-k

more fixes
  go/internal/database/client.go
  go/internal/database/fake/client.go
  python/packages/kagent-adk/src/kagent/adk/models/_ssl.py
  python/packages/kagent-adk/tests/unittests/models/test_openai.py
  python/packages/kagent-adk/tests/unittests/models/test_ssl.py
  python/packages/kagent-adk/tests/unittests/models/test_tls_e2e.py
  python/packages/kagent-adk/tests/unittests/models/test_tls_integration.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

Don't always run uv sync
  go/cli/internal/agent/frameworks/adk/python/templates/Dockerfile.tmpl
Owners: @EItanya, @ilackarms, @yuval-k

fix import
  go/cli/cli/agent/dashboard_darwin.go
Owners: @EItanya, @ilackarms, @yuval-k

fix(helm): model config for multiple providers
  helm/kagent/templates/modelconfig.yaml
  helm/kagent/tests/modelconfig_test.yaml
Owners: @EItanya, @ilackarms, @yuval-k

fix(helm): resource naming
  helm/kagent/templates/modelconfig.yaml
Owners: @EItanya, @ilackarms, @yuval-k

fix: make cmd name configurable
  go/cli/cli/agent/init.go
  go/cmd/cli/main.go
Owners: @EItanya, @ilackarms, @yuval-k

feat:use stdin run
  go/cli/cli/agent/run.go
Owners: @EItanya, @ilackarms, @yuval-k

refactor the generator to allow passing in the image
  go/cli/agent/frameworks/adk/python/generator.go
  go/cli/agent/frameworks/adk/python/templates/docker-compose.yaml.tmpl
  go/cli/agent/frameworks/common/base_generator.go
  go/cli/agent/frameworks/common/manifest_manager.go
  go/cli/agent/frameworks/frameworks.go
  go/cli/cli/agent/init.go
Owners: @EItanya, @ilackarms, @yuval-k

weird hack
  go/cli/cli/agent/run.go
Owners: @EItanya, @ilackarms, @yuval-k

what?
  go/cli/cli/agent/run.go
Owners: @EItanya, @ilackarms, @yuval-k

add file pass in
  go/cli/cli/agent/run.go
Owners: @EItanya, @ilackarms, @yuval-k

unify approach
  go/cli/cli/agent/run.go
Owners: @EItanya, @ilackarms, @yuval-k

set image
  go/cli/cli/agent/init.go
Owners: @EItanya, @ilackarms, @yuval-k

properly pass through the values
  go/cli/agent/frameworks/adk/python/generator.go
Owners: @EItanya, @ilackarms, @yuval-k

run in bg
  go/cli/cli/agent/run.go
Owners: @EItanya, @ilackarms, @yuval-k

feat(run): add --build flag to rebuild image before running
  go/cli/cmd/kagent/main.go
  go/cli/internal/cli/agent/run.go
Owners: @EItanya, @ilackarms, @yuval-k

wip-test-branch
  python/packages/kagent-adk/pyproject.toml
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/cli.py
  python/packages/kagent-adk/src/kagent/adk/skills/__init__.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_plugin.py
Owners: @EItanya, @peterj, @yuval-k

feat: add skeleton of openai-agent skills
  .github/workflows/ci.yaml
  python/empty_file.txt
  python/packages/kagent-crewai/pyproject.toml
  python/packages/kagent-openai/README.md
  python/packages/kagent-openai/pyproject.toml
  python/packages/kagent-openai/src/kagent/openai/__init__.py
  python/packages/kagent-openai/src/kagent/openai/agent/__init__.py
  python/packages/kagent-openai/src/kagent/openai/agent/_a2a.py
  python/packages/kagent-openai/src/kagent/openai/agent/_agent_executor.py
  python/packages/kagent-openai/src/kagent/openai/agent/_event_converter.py
  python/packages/kagent-openai/src/kagent/openai/agent/_session_service.py
  python/packages/kagent-openai/src/kagent/openai/agent/skills/__init__.py
  python/packages/kagent-openai/src/kagent/openai/agent/skills/_skill_loader.py
  python/packages/kagent-openai/src/kagent/openai/agent/skills/_skill_registry.py
  python/packages/kagent-openai/src/kagent/openai/agent/skills/_skill_tools.py
  python/packages/kagent-openai/src/kagent/openai/agent/tools/__init__.py
  python/packages/kagent-openai/src/kagent/openai/agent/tools/_system_tools.py
  python/packages/kagent-openai/tests/unittests/skills/__init__.py
  python/packages/kagent-openai/tests/unittests/skills/test_skills.py
  python/packages/kagent-openai/tests/unittests/test_integration.py
  python/packages/kagent-openai/tests/unittests/tools/__init__.py
  python/packages/kagent-openai/tests/unittests/tools/test_bash_tool.py
  python/packages/kagent-openai/tests/unittests/tools/test_file_tools.py
  python/pyproject.toml
  python/samples/crewai/poem_flow/pyproject.toml
  python/samples/openai/basic_agent/.gitignore
  python/samples/openai/basic_agent/Dockerfile
  python/samples/openai/basic_agent/README.md
  python/samples/openai/basic_agent/TEST_RESULTS.md
  python/samples/openai/basic_agent/agent.yaml
  python/samples/openai/basic_agent/basic_agent/__init__.py
  python/samples/openai/basic_agent/basic_agent/agent-card.json
  python/samples/openai/basic_agent/basic_agent/agent.py
  python/samples/openai/basic_agent/pyproject.toml
  python/samples/openai/basic_agent/test_agent.py
  python/samples/openai/basic_agent/test_protocol.py
  python/samples/openai/skills/anthropic_skills.py
  python/samples/openai/skills/pyproject.toml
  python/uv.lock
Owners: @EItanya, @peterj, @yuval-k

improvements to python path and path
  python/packages/kagent-skills/src/kagent/skills/discovery.py
  python/packages/kagent-skills/src/kagent/skills/prompts.py
  python/packages/kagent-skills/src/kagent/skills/shell.py
  python/packages/kagent-skills/tests/unittests/test_skill_execution.py
Owners: @EItanya, @peterj, @yuval-k

e2e test for openai
  go/test/e2e/invoke_api_test.go
  go/test/e2e/mocks/invoke_openai_agent.json
Owners: @EItanya, @ilackarms, @yuval-k

refactor kagent skills with basic tests
  python/packages/kagent-skills/.python-version
  python/packages/kagent-skills/README.md
  python/packages/kagent-skills/pyproject.toml
  python/packages/kagent-skills/src/kagent/skills/__init__.py
  python/packages/kagent-skills/src/kagent/skills/discovery.py
  python/packages/kagent-skills/src/kagent/skills/loader.py
  python/packages/kagent-skills/src/kagent/skills/models.py
  python/packages/kagent-skills/src/kagent/skills/prompts.py
  python/packages/kagent-skills/src/kagent/skills/session.py
  python/packages/kagent-skills/src/kagent/skills/tools.py
  python/packages/kagent-skills/tests/unittests/test_skill_execution.py
  python/packages/kagent-skills/tests/unittests/test_system_tools.py
Owners: @EItanya, @peterj, @yuval-k

create session tmp working dir in openai executor
  python/packages/kagent-openai/__init__.py
  python/packages/kagent-openai/pyproject.toml
  python/packages/kagent-openai/src/kagent/openai/agent/_a2a.py
  python/packages/kagent-openai/src/kagent/openai/agent/_agent_executor.py
Owners: @EItanya, @peterj, @yuval-k

fixes to kagent openai
  python/Makefile
  python/packages/kagent-openai/README.md
  python/packages/kagent-openai/src/kagent/openai/__init__.py
  python/packages/kagent-openai/src/kagent/openai/_a2a.py
  python/packages/kagent-openai/src/kagent/openai/_agent_executor.py
  python/packages/kagent-openai/src/kagent/openai/_event_converter.py
  python/packages/kagent-openai/src/kagent/openai/_session_service.py
  python/packages/kagent-openai/src/kagent/openai/agent/__init__.py
  python/packages/kagent-openai/src/kagent/openai/tools/__init__.py
  python/packages/kagent-openai/src/kagent/openai/tools/_tools.py
  python/samples/openai/basic_agent/Dockerfile
  python/samples/openai/basic_agent/TEST_RESULTS.md
  python/samples/openai/basic_agent/agent.yaml
  python/samples/openai/basic_agent/basic_agent/agent.py
  python/samples/openai/basic_agent/test_agent.py
  python/samples/openai/basic_agent/test_protocol.py
  python/samples/openai/skills/anthropic_skills.py
  python/samples/openai/skills/pyproject.toml
  python/uv.lock
Owners: @EItanya, @peterj, @yuval-k

cleanup some kagent openai
  python/packages/kagent-openai/src/kagent/openai/agent/skills/__init__.py
  python/packages/kagent-openai/src/kagent/openai/agent/skills/_skill_loader.py
  python/packages/kagent-openai/src/kagent/openai/agent/skills/_skill_registry.py
  python/packages/kagent-openai/src/kagent/openai/agent/skills/_skill_tools.py
  python/packages/kagent-openai/src/kagent/openai/agent/tools/__init__.py
  python/packages/kagent-openai/src/kagent/openai/agent/tools/_system_tools.py
  python/packages/kagent-openai/src/kagent/openai/tools/__init__.py
  python/packages/kagent-openai/src/kagent/openai/tools/_tools.py
  python/packages/kagent-openai/tests/unittests/skills/__init__.py
  python/packages/kagent-openai/tests/unittests/skills/test_skills.py
  python/packages/kagent-openai/tests/unittests/test_integration.py
  python/packages/kagent-openai/tests/unittests/tools/__init__.py
  python/packages/kagent-openai/tests/unittests/tools/test_bash_tool.py
  python/packages/kagent-openai/tests/unittests/tools/test_file_tools.py
Owners: @EItanya, @peterj, @yuval-k

fix openai sample and add to makefile
  Makefile
  python/samples/openai/basic_agent/Dockerfile
  python/samples/openai/basic_agent/agent.yaml
  python/samples/openai/basic_agent/basic_agent/agent.py
Owners: @EItanya, @peterj, @ilackarms, @yuval-k

update openai sdk
  python/Dockerfile
  python/packages/kagent-openai/pyproject.toml
  python/packages/kagent-openai/src/kagent/openai/_a2a.py
  python/packages/kagent-openai/src/kagent/openai/_agent_executor.py
  python/packages/kagent-openai/src/kagent/openai/_event_converter.py
  python/packages/kagent-openai/src/kagent/openai/_session_service.py
  python/packages/kagent-openai/src/kagent/openai/tools/_tools.py
  python/uv.lock
Owners: @EItanya, @peterj, @yuval-k

refactor kagent adk
  python/packages/kagent-adk/src/kagent/adk/cli.py
  python/packages/kagent-adk/src/kagent/adk/skills/__init__.py
  python/packages/kagent-adk/src/kagent/adk/tools/README.md
  python/packages/kagent-adk/src/kagent/adk/tools/__init__.py
  python/packages/kagent-adk/src/kagent/adk/tools/bash_tool.py
  python/packages/kagent-adk/src/kagent/adk/tools/file_tools.py
  python/packages/kagent-adk/src/kagent/adk/tools/skill_tool.py
  python/packages/kagent-adk/src/kagent/adk/tools/skills_plugin.py
  python/packages/kagent-adk/src/kagent/adk/tools/skills_toolset.py
Owners: @EItanya, @peterj, @yuval-k

minor fixes to other packages
  python/packages/kagent-core/src/kagent/core/tracing/_utils.py
  python/packages/kagent-crewai/pyproject.toml
  python/packages/kagent-skills/src/kagent/skills/__init__.py
  python/packages/kagent-skills/src/kagent/skills/shell.py
Owners: @EItanya, @peterj, @yuval-k

use kagent skills in adk
  python/packages/kagent-adk/pyproject.toml
  python/packages/kagent-adk/src/kagent/adk/skills/skill_tool.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_plugin.py
  python/packages/kagent-adk/src/kagent/adk/tools/bash_tool.py
  python/packages/kagent-adk/src/kagent/adk/tools/file_tools.py
Owners: @EItanya, @peterj, @yuval-k

restore files from main
  .github/workflows/ci.yaml
  python/empty_file.txt
  python/packages/kagent-adk/tests/__init__.py
Owners: @EItanya, @peterj, @yuval-k

chore(kagent-adk/session_sevice): add logging for Kagent API errors
  python/packages/kagent-adk/src/kagent/adk/_session_service.py
Owners: @EItanya, @peterj, @yuval-k

use decorator to logging
  python/packages/kagent-adk/src/kagent/adk/_session_service.py
Owners: @EItanya, @peterj, @yuval-k
