Repository kagent-dev/kagent, changes with the owners that CODEOWNERS names for each.
All owners: @EItanya, @peterj, @ilackarms, @yuval-k

refactor and expand artifacts util tools
  python/packages/kagent-adk/src/kagent/adk/artifacts/README.md
  python/packages/kagent-adk/src/kagent/adk/artifacts/__init__.py
  python/packages/kagent-adk/src/kagent/adk/artifacts/artifacts_toolset.py
  python/packages/kagent-adk/src/kagent/adk/artifacts/return_artifacts_tool.py
  python/packages/kagent-adk/src/kagent/adk/artifacts/stage_artifacts_tool.py
Owners: @EItanya, @peterj, @yuval-k

files tools
  python/packages/kagent-adk/src/kagent/adk/skills/__init__.py
  python/packages/kagent-adk/src/kagent/adk/skills/skill_system_prompt.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_plugin.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_toolset.py
  python/packages/kagent-adk/src/kagent/adk/tools/__init__.py
  python/packages/kagent-adk/src/kagent/adk/tools/bash_tool.py
  python/packages/kagent-adk/src/kagent/adk/tools/file_tools.py
Owners: @EItanya, @peterj, @yuval-k

refactor(kagent-adk): reduce log spam for unauthenticated tool access
  python/packages/kagent-adk/src/kagent/adk/cli.py
Owners: @EItanya, @peterj, @yuval-k

skip building mcp servers on kagent deploy
  go/cli/internal/cli/agent/build.go
  go/cli/internal/cli/agent/deploy.go
Owners: @EItanya, @ilackarms, @yuval-k

ruff fix
  python/empty_file.txt
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/skills/stage_artifacts_tool.py
  python/packages/kagent-openai/src/kagent/openai/agents/tools/__init__.py
  python/packages/kagent-openai/tests/unittests/tools/test_bash_tool.py
  python/packages/kagent-openai/tests/unittests/tools/test_file_tools.py
  python/samples/openai/skills/anthropic_skills.py
Owners: @EItanya, @peterj, @yuval-k

install srt
  .github/workflows/ci.yaml
Owners: none

install srt
  .github/workflows/ci.yaml
Owners: none

install srt
  .github/workflows/ci.yaml
Owners: none

install srt
  .github/workflows/ci.yaml
Owners: none

install srt
  .github/workflows/ci.yaml
Owners: none

install srt
  .github/workflows/ci.yaml
Owners: none

install srt
  .github/workflows/ci.yaml
Owners: none

install srt
  .github/workflows/ci.yaml
Owners: none

docker-compose should be lower case (issued on Linux machines)
  go/cli/internal/cli/agent/utils.go
Owners: @EItanya, @ilackarms, @yuval-k

agent working directory
  python/packages/kagent-adk/src/kagent/adk/artifacts/README.md
  python/packages/kagent-adk/src/kagent/adk/artifacts/__init__.py
  python/packages/kagent-adk/src/kagent/adk/artifacts/artifacts_toolset.py
  python/packages/kagent-adk/src/kagent/adk/artifacts/return_artifacts_tool.py
  python/packages/kagent-adk/src/kagent/adk/artifacts/session_path.py
  python/packages/kagent-adk/src/kagent/adk/artifacts/stage_artifacts_tool.py
  python/packages/kagent-adk/src/kagent/adk/skills/README.md
  python/packages/kagent-adk/src/kagent/adk/skills/skills_plugin.py
  python/packages/kagent-adk/src/kagent/adk/tools/bash_tool.py
  python/packages/kagent-adk/src/kagent/adk/tools/file_tools.py
Owners: @EItanya, @peterj, @yuval-k

fix init files
  python/packages/kagent-adk/src/kagent/adk/artifacts/__init__.py
  python/packages/kagent-adk/src/kagent/adk/skills/__init__.py
Owners: @EItanya, @peterj, @yuval-k

very initial code sandbox. With some hardcoded WIP changes
  go/internal/controller/translator/agent/adk_api_translator.go
  python/Dockerfile
  python/Dockerfile.app
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/cli.py
  python/packages/kagent-adk/src/kagent/adk/sandbox_code_executer.py
  python/packages/kagent-adk/src/kagent/adk/types.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

more updates & add test skill
  .github/workflows/ci.yaml
  DEVELOPMENT.md
  Makefile
  go/api/v1alpha2/zz_generated.deepcopy.go
  go/config/crd/bases/kagent.dev_agents.yaml
  go/internal/controller/translator/agent/adk_api_translator.go
  go/test/e2e/testdata/skills/kebab/Dockerfile
  go/test/e2e/testdata/skills/kebab/LICENSE.txt
  go/test/e2e/testdata/skills/kebab/SKILL.md
  go/test/e2e/testdata/skills/kebab/scripts/make_kebab.py
  helm/kagent-crds/templates/kagent.dev_agents.yaml
Owners: @EItanya, @peterj, @ilackarms, @yuval-k

initial pull skills
  go/api/v1alpha2/agent_types.go
  go/internal/controller/translator/agent/adk_api_translator.go
  python/packages/kagent-adk/src/kagent/adk/cli.py
  python/packages/kagent-adk/src/kagent/adk/skill_fetcher.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

feat: add SSL/TLS configuration support to ModelConfig CRD
  docs/troubleshooting/ssl-errors.md
  docs/user-guide/modelconfig-tls.md
  docs/user-guide/tls-rbac.md
  examples/modelconfig-with-tls.yaml
  go/api/v1alpha1/modelconfig_types.go
  go/api/v1alpha1/modelconfig_types_test.go
  go/api/v1alpha1/zz_generated.deepcopy.go
  go/api/v1alpha2/modelconfig_types.go
  go/config/crd/bases/kagent.dev_modelconfigs.yaml
  go/internal/controller/translator/agent/adk_api_translator.go
  go/internal/controller/translator/agent/tls_mounting_test.go
  go/internal/httpserver/handlers/modelconfig.go
  go/pkg/client/api/types.go
  python/packages/kagent-adk/src/kagent/adk/models/_openai.py
  python/packages/kagent-adk/src/kagent/adk/models/_ssl.py
  python/packages/kagent-adk/src/kagent/adk/types.py
  python/packages/kagent-adk/tests/E2E_TEST_SUMMARY.md
  python/packages/kagent-adk/tests/fixtures/certs/README.md
  python/packages/kagent-adk/tests/fixtures/certs/ca-cert.pem
  python/packages/kagent-adk/tests/fixtures/certs/ca-cert.srl
  python/packages/kagent-adk/tests/fixtures/certs/ca-key.pem
  python/packages/kagent-adk/tests/fixtures/certs/server-cert.pem
  python/packages/kagent-adk/tests/fixtures/certs/server-key.pem
  python/packages/kagent-adk/tests/fixtures/certs/server-req.pem
  python/packages/kagent-adk/tests/unittests/models/test_openai.py
  python/packages/kagent-adk/tests/unittests/models/test_ssl.py
  python/packages/kagent-adk/tests/unittests/models/test_tls_e2e.py
  python/packages/kagent-adk/tests/unittests/models/test_tls_integration.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

ruff
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/tools/__init__.py
Owners: @EItanya, @peterj, @yuval-k

fix file path relative check
  python/packages/kagent-adk/src/kagent/adk/artifacts/return_artifacts_tool.py
Owners: @EItanya, @peterj, @yuval-k

more testing
  python/packages/kagent-openai/README.md
  python/packages/kagent-openai/pyproject.toml
  python/packages/kagent-openai/src/kagent/openai/__init__.py
  python/packages/kagent-openai/src/kagent/openai/agent/__init__.py
  python/packages/kagent-openai/src/kagent/openai/agent/_a2a.py
  python/packages/kagent-openai/src/kagent/openai/agent/_agent_executor.py
  python/packages/kagent-openai/src/kagent/openai/agent/_event_converter.py
  python/packages/kagent-openai/src/kagent/openai/agent/_session_service.py
  python/packages/kagent-openai/src/kagent/openai/agent/skills/__init__.py
  python/packages/kagent-openai/src/kagent/openai/agent/skills/_skill_loader.py
  python/packages/kagent-openai/src/kagent/openai/agent/skills/_skill_registry.py
  python/packages/kagent-openai/src/kagent/openai/agent/skills/_skill_tools.py
  python/packages/kagent-openai/src/kagent/openai/agent/tools/__init__.py
  python/packages/kagent-openai/src/kagent/openai/agent/tools/_system_tools.py
  python/packages/kagent-openai/src/kagent/openai/agents/__init__.py
  python/packages/kagent-openai/tests/unittests/skills/test_skills.py
  python/packages/kagent-openai/tests/unittests/test_integration.py
  python/packages/kagent-openai/tests/unittests/tools/test_bash_tool.py
  python/packages/kagent-openai/tests/unittests/tools/test_file_tools.py
  python/pyproject.toml
  python/samples/openai/basic_agent/.gitignore
  python/samples/openai/basic_agent/Dockerfile
  python/samples/openai/basic_agent/TEST_RESULTS.md
  python/samples/openai/basic_agent/agent.yaml
  python/samples/openai/basic_agent/basic_agent/__init__.py
  python/samples/openai/basic_agent/basic_agent/agent-card.json
  python/samples/openai/basic_agent/basic_agent/agent.py
  python/samples/openai/basic_agent/pyproject.toml
  python/samples/openai/basic_agent/test_agent.py
  python/samples/openai/basic_agent/test_protocol.py
  python/samples/openai/skills/anthropic_skills.py
  python/samples/openai/skills/pyproject.toml
  python/uv.lock
Owners: @EItanya, @peterj, @yuval-k

feat: use controller name env var:
  go/internal/controller/translator/agent/adk_api_translator.go
  go/internal/utils/common.go
Owners: @EItanya, @ilackarms, @yuval-k

fetch skills with crane
  python/Dockerfile
  python/packages/kagent-adk/src/kagent/adk/cli.py
  python/packages/kagent-adk/src/kagent/adk/skill_fetcher.py
Owners: @EItanya, @peterj, @yuval-k

add e2e test + cleanups
  go/test/e2e/agents/kebab/agent.yaml
  go/test/e2e/invoke_api_test.go
  go/test/e2e/mocks/invoke_skill.json
  python/packages/kagent-adk/pyproject.toml
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/cli.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_plugin.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

cleanup
  go/test/e2e/testdata/skills/kebab/Dockerfile
Owners: @EItanya, @ilackarms, @yuval-k

declarative skills smoke test seems to work
  go/api/v1alpha2/agent_types.go
  go/api/v1alpha2/zz_generated.deepcopy.go
  go/config/crd/bases/kagent.dev_agents.yaml
  go/internal/controller/translator/agent/adk_api_translator.go
  go/test/e2e/testdata/skills/kebab/Dockerfile
  helm/kagent-crds/templates/kagent.dev_agents.yaml
  python/packages/kagent-adk/src/kagent/adk/cli.py
  python/packages/kagent-adk/src/kagent/adk/skill_fetcher.py
  python/packages/kagent-adk/src/kagent/adk/skills/skill_tool.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_plugin.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

image name edge case
  python/packages/kagent-adk/src/kagent/adk/skill_fetcher.py
Owners: @EItanya, @peterj, @yuval-k

PR feedback
  go/api/v1alpha2/agent_types.go
  go/api/v1alpha2/zz_generated.deepcopy.go
  go/config/crd/bases/kagent.dev_agents.yaml
  go/internal/adk/types.go
  go/internal/controller/translator/agent/adk_api_translator.go
  go/internal/controller/translator/agent/testdata/outputs/agent_with_code.json
  go/test/e2e/invoke_api_test.go
  go/test/e2e/testdata/skills/kebab/LICENSE.txt
  helm/kagent-crds/templates/kagent.dev_agents.yaml
  python/Dockerfile
  python/packages/kagent-adk/src/kagent/adk/cli.py
  python/packages/kagent-adk/src/kagent/adk/sandbox_code_executer.py
  python/packages/kagent-adk/src/kagent/adk/skill_fetcher.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_plugin.py
  python/packages/kagent-adk/src/kagent/adk/types.py
  python/packages/kagent-adk/tests/unittests/models/test_openai.py
  python/packages/kagent-adk/tests/unittests/test_skill_fetcher_parse.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

updates translator tests. add code execution tests
  go/api/v1alpha2/agent_types.go
  go/api/v1alpha2/zz_generated.deepcopy.go
  go/config/crd/bases/kagent.dev_agents.yaml
  go/internal/controller/translator/agent/adk_api_translator.go
  go/internal/controller/translator/agent/testdata/inputs/agent_with_code.yaml
  go/internal/controller/translator/agent/testdata/inputs/agent_with_skills.yaml
  go/internal/controller/translator/agent/testdata/outputs/agent_with_code.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_http_toolserver.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_mcp_service.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_nested_agent.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_skills.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_system_message_from_secret.json
  go/internal/controller/translator/agent/testdata/outputs/anthropic_agent.json
  go/internal/controller/translator/agent/testdata/outputs/basic_agent.json
  go/internal/controller/translator/agent/testdata/outputs/ollama_agent.json
  go/internal/controller/translator/mutate.go
  go/test/e2e/agents/kebab/kebab/agent.py
  go/test/e2e/invoke_api_test.go
  go/test/e2e/mocks/run_code.json
  go/test/e2e/testdata/skills/kebab/scripts/make_kebab.py
  helm/kagent-crds/templates/kagent.dev_agents.yaml
Owners: @EItanya, @ilackarms, @yuval-k

update translator tests
  go/internal/controller/translator/agent/testdata/inputs/agent_with_code.yaml
  go/internal/controller/translator/agent/testdata/inputs/agent_with_skills.yaml
Owners: @EItanya, @ilackarms, @yuval-k

add --platform to build and deploy commands (#1066)
  go/cli/cmd/kagent/main.go
  go/cli/internal/cli/agent/build.go
  go/cli/internal/cli/agent/deploy.go
Owners: @EItanya, @ilackarms, @yuval-k

Simplify server name comparison in ToolsSection
  ui/src/components/create/ToolsSection.tsx
Owners: @peterj

[Draft] Agent Skills (#1062)
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
  python/packages/kagent-adk/src/kagent/adk/skills/README.md
  python/packages/kagent-adk/src/kagent/adk/skills/__init__.py
  python/packages/kagent-adk/src/kagent/adk/skills/bash_tool.py
  python/packages/kagent-adk/src/kagent/adk/skills/skill_system_prompt.py
  python/packages/kagent-adk/src/kagent/adk/skills/skill_tool.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_plugin.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_toolset.py
  python/packages/kagent-adk/src/kagent/adk/skills/stage_artifacts_tool.py
Owners: @EItanya, @peterj, @yuval-k

fixed the issue with tool description
  ui/src/app/models/new/page.tsx
  ui/src/components/create/SelectToolsDialog.tsx
  ui/src/components/create/ToolsSection.tsx
  ui/src/lib/messageHandlers.ts
Owners: @peterj

feat: add HITL with DataPart support and event-based sync (#1025)
  python/packages/kagent-core/pyproject.toml
  python/packages/kagent-core/src/kagent/core/a2a/__init__.py
  python/packages/kagent-core/src/kagent/core/a2a/_consts.py
  python/packages/kagent-core/src/kagent/core/a2a/_hitl.py
  python/packages/kagent-core/src/kagent/core/a2a/_task_store.py
  python/packages/kagent-core/tests/test_hitl_consts.py
  python/packages/kagent-core/tests/test_hitl_handlers.py
  python/packages/kagent-core/tests/test_hitl_utils.py
  python/packages/kagent-langgraph/src/kagent/langgraph/_checkpointer.py
  python/packages/kagent-langgraph/src/kagent/langgraph/_converters.py
  python/packages/kagent-langgraph/src/kagent/langgraph/_error_mappings.py
  python/packages/kagent-langgraph/src/kagent/langgraph/_executor.py
  python/packages/kagent-langgraph/src/kagent/langgraph/_metadata_utils.py
  python/uv.lock
Owners: @EItanya, @peterj, @yuval-k

prevent adding the same tool multiple times
  ui/src/components/create/SelectToolsDialog.tsx
Owners: @peterj

feat: implement STS client and integration in kagent-adk (#993)
  .github/workflows/ci.yaml
  go/internal/httpserver/auth/authn.go
  go/test/e2e/invoke_api_test.go
  go/test/e2e/mocks/mock_sts_server.go
  python/Makefile
  python/packages/kagent-adk/pyproject.toml
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
  python/packages/kagent-core/pyproject.toml
  python/packages/kagent-core/src/kagent/core/a2a/_task_store.py
  python/packages/kagent-langgraph/pyproject.toml
  python/pyproject.toml
  python/uv.lock
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

fix: sts adk integration implementation (#1042)
  python/packages/kagent-adk/pyproject.toml
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
  python/packages/kagent-adk/src/kagent/adk/_session_service.py
  python/uv.lock
Owners: @EItanya, @peterj, @yuval-k

CODEOWNERS:

/*      @EItanya @peterj @ilackarms @yuval-k
python/ @EItanya @peterj @yuval-k
go/     @EItanya @ilackarms @yuval-k
ui/     @peterj
helm/   @EItanya @ilackarms @yuval-k
