Repository kagent-dev/kagent, changes with the owners that CODEOWNERS names for each.
All owners: @EItanya, @peterj, @ilackarms, @yuval-k

fix: add none type default for actor token and type
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
Owners: @EItanya, @peterj, @yuval-k

fix: serialize AnyUrl in task store with mode='json'
  python/packages/kagent-core/src/kagent/core/a2a/_task_store.py
Owners: @EItanya, @peterj, @yuval-k

fix: ensure all model serialization uses mode='json' to handle AnyUrl
  python/packages/kagent-adk/pyproject.toml
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/_session_service.py
  python/packages/kagent-langgraph/src/kagent/langgraph/_checkpointer.py
Owners: @EItanya, @peterj, @yuval-k

update lock file for a2a-sdk
  python/uv.lock
Owners: @EItanya, @peterj, @yuval-k

workflow agents
  go/api/v1alpha2/agent_types.go
  go/api/v1alpha2/agent_types_test.go
  go/api/v1alpha2/zz_generated.deepcopy.go
  go/config/crd/bases/kagent.dev_agents.yaml
  go/config/crd/bases/kagent.dev_modelconfigs.yaml
  go/go.mod
  go/internal/controller/reconciler/reconciler.go
  go/internal/controller/translator/agent/adk_api_translator.go
  go/internal/controller/translator/agent/workflow_validator.go
  go/internal/controller/translator/agent/workflow_validator_test.go
  go/pkg/translator/adk_api_translator_types.go
  helm/kagent-crds/templates/kagent.dev_agents.yaml
  helm/kagent/values.yaml
  python/Makefile
  python/packages/kagent-adk/pyproject.toml
  python/packages/kagent-adk/src/kagent/adk/__init__.py
  python/packages/kagent-adk/src/kagent/adk/agents/__init__.py
  python/packages/kagent-adk/src/kagent/adk/agents/parallel.py
  python/packages/kagent-adk/src/kagent/adk/cli.py
  python/packages/kagent-adk/src/kagent/adk/metrics.py
  python/packages/kagent-adk/src/kagent/adk/types.py
  python/packages/kagent-adk/tests/test_a2a.py
  python/packages/kagent-adk/tests/test_agent_executor.py
  python/packages/kagent-adk/tests/test_event_converter_extended.py
  python/packages/kagent-adk/tests/test_metrics.py
  python/packages/kagent-adk/tests/test_parallel_agent.py
  python/packages/kagent-adk/tests/test_part_converter.py
  python/packages/kagent-adk/tests/test_request_converter.py
  python/packages/kagent-adk/tests/test_session_service.py
  python/packages/kagent-adk/tests/test_token.py
  python/packages/kagent-adk/tests/test_types_extended.py
  python/packages/kagent-core/src/kagent/core/a2a/_requests.py
  python/packages/kagent-crewai/src/kagent/crewai/_a2a.py
  python/packages/kagent-crewai/src/kagent/crewai/_executor.py
  python/packages/kagent-crewai/src/kagent/crewai/_listeners.py
  python/uv.lock
  ui/src/components/AgentCard.tsx
  ui/src/components/sidebars/AgentSwitcher.tsx
  ui/src/types/index.ts
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

- workflow agents ui
  go/internal/httpserver/auth/authn.go
  go/internal/httpserver/handlers/agents.go
  go/internal/httpserver/handlers/sessions.go
  go/test/e2e/invoke_api_test.go
  python/Makefile
  python/packages/kagent-adk/src/kagent/adk/types.py
  ui/src/app/actions/agents.ts
  ui/src/app/agents/new/page.tsx
  ui/src/components/AgentsProvider.tsx
  ui/src/components/create/WorkflowSection.tsx
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

- workflow agents ui
  ui/src/components/AgentsProvider.tsx
Owners: @peterj

- workflow agents example
  contrib/agents/workflow-agent-example.yaml
  design/EP-991-workflow-subagents.md
  go/cli/internal/cli/agent/dashboard_darwin.go
  go/config/crd/bases/kagent.dev_modelconfigs.yaml
  go/internal/controller/reconciler/reconciler.go
  helm/kagent-crds/templates/kagent.dev_modelconfigs.yaml
Owners: @EItanya, @ilackarms, @yuval-k

fix CI linters
  helm/kagent/tests/modelconfig_test.yaml
  python/packages/kagent-adk/src/kagent/adk/types.py
  ui/package-lock.json
  ui/src/app/models/new/page.tsx
  ui/src/types/index.ts
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

fix(version): print out version regardless of port-forwarding
  go/Makefile
  go/cli/cmd/kagent/main.go
  go/cli/internal/cli/agent/invoke.go
  go/cli/internal/cli/agent/utils.go
Owners: @EItanya, @ilackarms, @yuval-k

fix Tool Agent sub type
  contrib/agents/workflow-agent-example.yaml
  go/internal/controller/translator/agent/adk_api_translator.go
Owners: @EItanya, @ilackarms, @yuval-k

feat: modified gemini model
  helm/kagent/values.yaml
Owners: @EItanya, @ilackarms, @yuval-k

fix: upgrade @radix-ui/react-tabs from 1.1.12 to 1.1.13
  ui/package-lock.json
  ui/package.json
Owners: @peterj

move mockllm into dedicated repo
  go/go.mod
  go/go.sum
  go/test/e2e/invoke_api_test.go
  go/test/mockllm/README.md
  go/test/mockllm/anthropic.go
  go/test/mockllm/openai.go
  go/test/mockllm/server.go
  go/test/mockllm/server_test.go
  go/test/mockllm/types.go
Owners: @EItanya, @ilackarms, @yuval-k

fix: show nested agent tool calls with visual hierarchy
  ui/src/components/chat/AgentCallDisplay.tsx
  ui/src/components/chat/ToolCallDisplay.tsx
  ui/src/components/chat/__tests__/AgentCallDisplay.test.tsx
  ui/src/components/chat/__tests__/ToolCallDisplay.test.tsx
Owners: @peterj

fix(agent-adk): don't skip summarization on sub-agent tool calls
  python/packages/kagent-adk/src/kagent/adk/types.py
Owners: @EItanya, @peterj, @yuval-k

refactor(ui): remove UI handling for delegate messages
  ui/src/lib/__tests__/messageHandlers.test.ts
  ui/src/lib/messageHandlers.ts
Owners: @peterj

chore: remove unnecessary blank line
  ui/src/lib/messageHandlers.ts
Owners: @peterj

crewai persistence, tracing, e2e tests
  go/internal/database/client.go
  go/internal/database/fake/client.go
  go/internal/database/manager.go
  go/internal/database/models.go
  go/internal/httpserver/handlers/crewai.go
  go/internal/httpserver/handlers/handlers.go
  go/internal/httpserver/server.go
  go/test/e2e/invoke_api_test.go
  go/test/e2e/mocks/invoke_crewai_agent.json
  python/Makefile
  python/packages/kagent-core/src/kagent/core/tracing/_utils.py
  python/packages/kagent-crewai/README.md
  python/packages/kagent-crewai/pyproject.toml
  python/packages/kagent-crewai/src/kagent/crewai/_a2a.py
  python/packages/kagent-crewai/src/kagent/crewai/_executor.py
  python/packages/kagent-crewai/src/kagent/crewai/_memory.py
  python/packages/kagent-crewai/src/kagent/crewai/_state.py
  python/samples/crewai/poem_flow/Dockerfile
  python/samples/crewai/poem_flow/README.md
  python/samples/crewai/poem_flow/agent.yaml
  python/samples/crewai/poem_flow/pyproject.toml
  python/samples/crewai/poem_flow/src/poem_flow/crews/poem_crew/config/agents.yaml
  python/samples/crewai/poem_flow/src/poem_flow/main.py
  python/samples/crewai/research-crew/Dockerfile
  python/samples/crewai/research-crew/README.md
  python/samples/crewai/research-crew/agent.yaml
  python/samples/crewai/research-crew/pyproject.toml
  python/samples/crewai/research-crew/src/research_crew/config/agents.yaml
  python/samples/crewai/research-crew/src/research_crew/crew.py
  python/uv.lock
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

build crewai e2e test agnet when installing kagent
  Makefile
Owners: @EItanya, @peterj, @ilackarms, @yuval-k

refactor: move STS integration into a separate library for cleaner UX
  python/Dockerfile
  python/packages/kagent-adk/src/kagent/adk/__init__.py
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
  python/packages/kagent-adk/src/kagent/adk/_service_account_service.py
  python/packages/kagent-adk/src/kagent/adk/_sts_token_service.py
  python/packages/kagent-adk/src/kagent/adk/token_plugin.py
  python/packages/kagent-adk/src/kagent/adk/wrapped_session_service.py
  python/packages/kagent-adk/tests/conftest.py
  python/packages/kagent-adk/tests/integration/test_authentication_flow.py
  python/packages/kagent-adk/tests/unittests/test_service_account_service.py
  python/packages/kagent-adk/tests/unittests/test_sts_token_service.py
  python/packages/kagent-agw/pyproject.toml
  python/packages/kagent-agw/src/kagent/agw/__init__.py
  python/packages/kagent-agw/src/kagent/agw/actor_service.py
  python/packages/kagent-agw/src/kagent/agw/adk_integration.py
  python/packages/kagent-agw/src/kagent/agw/base.py
  python/packages/kagent-agw/tests/test_adk_integration.py
  python/packages/kagent-agw/tests/test_base.py
  python/uv.lock
Owners: @EItanya, @peterj, @yuval-k

style: cleanup
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
  python/packages/kagent-agw/pyproject.toml
  python/packages/kagent-agw/src/kagent/agw/__init__.py
  python/packages/kagent-agw/src/kagent/agw/actor_service.py
  python/packages/kagent-agw/src/kagent/agw/adk_integration.py
  python/packages/kagent-agw/src/kagent/agw/base.py
  python/packages/kagent-agw/tests/test_adk_integration.py
  python/packages/kagent-agw/tests/test_base.py
Owners: @EItanya, @peterj, @yuval-k

feat: allow transport adapters image tag version to be overriden and fix bug in cli
  go/cli/internal/cli/mcp/deploy.go
  go/internal/controller/translator/mcp/translator_adapter.go
Owners: @EItanya, @ilackarms, @yuval-k

style: cleanup
  python/packages/kagent-agw/src/kagent/agw/__init__.py
  python/packages/kagent-agw/src/kagent/agw/adk_integration.py
  python/packages/kagent-agw/src/kagent/agw/base.py
  python/packages/kagent-agw/tests/test_adk_integration.py
  python/packages/kagent-agw/tests/test_base.py
Owners: @EItanya, @peterj, @yuval-k

fix: address copilot feedback
  go/internal/controller/translator/mcp/translator_adapter.go
Owners: @EItanya, @ilackarms, @yuval-k

fix go e2e test
  go/test/e2e/invoke_api_test.go
Owners: @EItanya, @ilackarms, @yuval-k

remove resource merge for trace provider
  python/packages/kagent-core/src/kagent/core/tracing/_utils.py
Owners: @EItanya, @peterj, @yuval-k

python fixes
  python/packages/kagent-core/src/kagent/core/tracing/_utils.py
  python/packages/kagent-crewai/src/kagent/crewai/__init__.py
  python/packages/kagent-crewai/src/kagent/crewai/_executor.py
  python/packages/kagent-crewai/src/kagent/crewai/_memory.py
  python/packages/kagent-crewai/src/kagent/crewai/_state.py
Owners: @EItanya, @peterj, @yuval-k

fix copilot suggestions
  go/internal/database/fake/client.go
  python/packages/kagent-crewai/src/kagent/crewai/_state.py
  python/samples/crewai/poem_flow/README.md
  python/samples/crewai/research-crew/src/research_crew/crew.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

refactor: rename libraries, added authz header forwarding, and support for access token passthrough
  go/internal/httpserver/auth/authn.go
  python/Dockerfile
  python/packages/agw-sts-client/pyproject.toml
  python/packages/agw-sts-client/src/agw_status_client/__init__.py
  python/packages/agw-sts-client/src/agw_status_client/_client.py
  python/packages/agw-sts-client/src/agw_status_client/_config.py
  python/packages/agw-sts-client/src/agw_status_client/_exceptions.py
  python/packages/agw-sts-client/src/agw_status_client/_models.py
  python/packages/agw-sts-client/src/agw_status_client/_utils.py
  python/packages/agw-sts-client/tests/test_client.py
  python/packages/agw-sts-client/tests/test_models.py
  python/packages/agw-sts/pyproject.toml
  python/packages/agw-sts/src/agw/actor_service.py
  python/packages/agw-sts/src/agw/adk/__init__.py
  python/packages/agw-sts/src/agw/adk/adk_integration.py
  python/packages/agw-sts/src/agw/base.py
  python/packages/agw-sts/tests/test_adk_integration.py
  python/packages/agw-sts/tests/test_base.py
  python/packages/kagent-adk/pyproject.toml
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
  python/uv.lock
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

fix: remove unnecessary try except block and add header forwarding to ui a2a request
  python/packages/agw-sts/src/agw/adk/adk_integration.py
Owners: @EItanya, @peterj, @yuval-k

enable extending owned resoruce types in adk translator
  go/internal/controller/translator/agent/adk_api_translator.go
  go/pkg/translator/adk_api_translator_types.go
Owners: @EItanya, @ilackarms, @yuval-k

Update AgentCard.tsx
  ui/src/components/AgentCard.tsx
Owners: @peterj

Update AgentCard.tsx
  ui/src/components/AgentCard.tsx
Owners: @peterj

Update AgentCard.tsx
  ui/src/components/AgentCard.tsx
Owners: @peterj

Update AgentCard.tsx
  ui/src/components/AgentCard.tsx
Owners: @peterj

resync controllers on agent/mcpserver label change
  go/internal/controller/agent_controller.go
  go/internal/controller/mcp_server_controller.go
Owners: @EItanya, @ilackarms, @yuval-k

test: add e2e test
  go/test/e2e/invoke_api_test.go
  go/test/e2e/mocks/mock_sts_server.go
Owners: @EItanya, @ilackarms, @yuval-k

fix: track main branch crewai implementation
  python/packages/kagent-crewai/src/kagent/crewai/_a2a.py
  python/packages/kagent-crewai/src/kagent/crewai/_executor.py
  python/packages/kagent-crewai/src/kagent/crewai/_listeners.py
Owners: @EItanya, @peterj, @yuval-k

fix: handle error
  go/test/e2e/mocks/mock_sts_server.go
Owners: @EItanya, @ilackarms, @yuval-k

CODEOWNERS:

/*      @EItanya @peterj @ilackarms @yuval-k
python/ @EItanya @peterj @yuval-k
go/     @EItanya @ilackarms @yuval-k
ui/     @peterj
helm/   @EItanya @ilackarms @yuval-k
