Repository kagent-dev/kagent, changes with the owners that CODEOWNERS names for each.
All owners: @EItanya, @peterj, @ilackarms

support streamable mcp
  ui/src/components/AddServerDialog.tsx
  ui/src/components/sidebars/AgentDetailsSidebar.tsx
  ui/src/lib/toolUtils.ts
  ui/src/types/datamodel.ts
Owners: @peterj

fix(makefile): edit port-forward command
  Makefile
Owners: @EItanya, @peterj, @ilackarms

feat(observability): add genai style tracing (#554)
  .github/workflows/ci.yaml
  go/test/e2e/invoke_api_test.go
  python/pyproject.toml
  python/src/autogenstudio/sessionmanager/sessionmanager.py
  python/src/autogenstudio/teammanager/teammanager.py
  python/uv.lock
Owners: @EItanya, @ilackarms, @peterj

logger change github.com/go-logr/logr
  go/tools/cmd/tool-server/main.go
  go/tools/internal/k8s/k8s.go
  go/tools/internal/logger/logger.go
  go/tools/internal/logger/logger_test.go
Owners: @EItanya, @ilackarms

rename query-documentation query_Docs
  contrib/memory/doc2vec/README.md
  contrib/memory/doc2vec/src/index.ts
  go/controller/internal/autogen/autogen_api_translator.go
  helm/agents/argo-rollouts/templates/agent.yaml
  helm/agents/cilium-debug/templates/agent.yaml
  helm/agents/cilium-manager/templates/agent.yaml
  helm/agents/cilium-policy/templates/agent.yaml
  helm/agents/helm/templates/agent.yaml
  helm/agents/istio/templates/agent.yaml
  helm/agents/k8s/templates/agent.yaml
  helm/agents/kgateway/templates/agent.yaml
  helm/agents/observability/templates/agent.yaml
Owners: @EItanya, @ilackarms

fix(makefile): edit port-forward command
  Makefile
Owners: @EItanya, @peterj, @ilackarms

fix failing ui unit tests (remove console logs in prod only)
  ui/next.config.ts
Owners: @peterj

toggle servers, sort them
  ui/src/app/servers/page.tsx
Owners: @peterj

CODEOWNERS:

/*      @EItanya @peterj @ilackarms
python/ @EItanya @peterj
go/     @EItanya @ilackarms
ui/     @peterj
helm/   @EItanya @ilackarms
