Repository kagent-dev/kagent, changes with the owners that CODEOWNERS names for each.
All owners: @EItanya, @peterj, @ilackarms, @yuval-k

CODEOWNERS:

/*      @EItanya @peterj @ilackarms @yuval-k
python/ @EItanya @peterj @yuval-k
go/     @EItanya @ilackarms @yuval-k
ui/     @peterj
helm/   @EItanya @ilackarms @yuval-k

updated
  ui/src/components/Header.tsx
  ui/src/components/NamespaceCombobox.tsx
Owners: @peterj

chore: fix typo in module docstring
  python/packages/kagent-adk/src/kagent/adk/converters/part_converter.py
Owners: @EItanya, @peterj, @yuval-k

chore: fix typos
  design/EP-685-kmcp.md
  go/internal/controller/translator/agent/adk_api_translator.go
  go/internal/httpserver/handlers/agents_test.go
  python/packages/kagent-adk/src/kagent/adk/converters/part_converter.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

remove unused uuid, use httpx, move sorting to db
  go/internal/database/client.go
  go/internal/database/fake/client.go
  go/internal/database/models.go
  go/internal/httpserver/handlers/crewai.go
  python/packages/kagent-crewai/src/kagent/crewai/_memory.py
  python/packages/kagent-crewai/src/kagent/crewai/_state.py
  python/samples/crewai/poem_flow/src/poem_flow/main.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

run ruff
  python/packages/kagent-crewai/src/kagent/crewai/_a2a.py
  python/packages/kagent-crewai/src/kagent/crewai/_executor.py
  python/packages/kagent-crewai/src/kagent/crewai/_listeners.py
  python/packages/kagent-crewai/src/kagent/crewai/_memory.py
  python/packages/kagent-crewai/src/kagent/crewai/_state.py
  python/samples/crewai/poem_flow/src/poem_flow/main.py
Owners: @EItanya, @peterj, @yuval-k

remove querydoc from agents
  helm/agents/argo-rollouts/templates/agent.yaml
  helm/agents/cilium-debug/templates/agent.yaml
  helm/agents/cilium-manager/templates/agent.yaml
  helm/agents/cilium-policy/templates/agent.yaml
  helm/agents/helm/templates/agent.yaml
  helm/agents/istio/templates/agent.yaml
  helm/agents/k8s/templates/agent.yaml
  helm/agents/kgateway/templates/agent.yaml
  helm/agents/observability/templates/agent.yaml
  helm/kagent/Chart-template.yaml
Owners: @EItanya, @ilackarms, @yuval-k

fix: ensure OpenAI model config is correctly applied to agents
  go/internal/adk/types.go
  go/internal/controller/translator/agent/adk_api_translator.go
  go/internal/controller/translator/agent/testdata/inputs/basic_agent.yaml
  go/internal/controller/translator/agent/testdata/outputs/agent_with_http_toolserver.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_mcp_service.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_nested_agent.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_system_message_from_configmap.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_system_message_from_secret.json
  go/internal/controller/translator/agent/testdata/outputs/basic_agent.json
  go/internal/utils/common.go
  helm/kagent-crds/templates/kagent.dev_modelconfigs.yaml
  python/packages/kagent-adk/src/kagent/adk/models/_openai.py
  python/packages/kagent-adk/src/kagent/adk/types.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

feat: add support for reasoning effort to OpenAI models
  go/api/v1alpha2/modelconfig_types.go
  go/api/v1alpha2/zz_generated.deepcopy.go
  go/config/crd/bases/kagent.dev_modelconfigs.yaml
  go/internal/adk/types.go
  go/internal/controller/translator/agent/adk_api_translator.go
  go/internal/controller/translator/agent/testdata/inputs/basic_agent.yaml
  go/internal/controller/translator/agent/testdata/outputs/basic_agent.json
  helm/kagent-crds/templates/kagent.dev_modelconfigs.yaml
  python/packages/kagent-adk/src/kagent/adk/models/_openai.py
  python/packages/kagent-adk/src/kagent/adk/types.py
  ui/src/types/index.ts
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

Update AgentCard.tsx
  ui/src/components/AgentCard.tsx
Owners: @peterj

add sonnet 4.5
  go/internal/httpserver/handlers/models.go
Owners: @EItanya, @ilackarms, @yuval-k

Update AgentCard.tsx
  ui/src/components/AgentCard.tsx
Owners: @peterj

Update AgentCard.tsx
  ui/src/components/AgentCard.tsx
Owners: @peterj

fix the mcp server naming issue
  ui/src/components/AddServerDialog.tsx
  ui/src/lib/__tests__/utils.test.ts
Owners: @peterj

fix: support both postgres and postgresql keys in helm chart
  helm/kagent/templates/controller-deployment.yaml
Owners: @EItanya, @ilackarms, @yuval-k

feat: add -race flag for go tests, resolves #970
  .github/workflows/ci.yaml
  go/Makefile
Owners: @EItanya, @ilackarms, @yuval-k

fix: upgrade @radix-ui/react-tabs from 1.1.12 to 1.1.13
  ui/package-lock.json
  ui/package.json
Owners: @peterj

fix(version): print out version regardless of port-forwarding
  go/Makefile
  go/cli/cmd/kagent/main.go
  go/cli/internal/cli/agent/invoke.go
  go/cli/internal/cli/agent/utils.go
Owners: @EItanya, @ilackarms, @yuval-k

fix: load config file before CLI flags
  go/cli/cmd/kagent/main.go
Owners: @EItanya, @ilackarms, @yuval-k

update self-assessment based on review
  contrib/security/security-self-assessment.md
Owners: none

fix: use short service name for UI backend
  helm/kagent/templates/ui-deployment.yaml
Owners: @EItanya, @ilackarms, @yuval-k

Fix: Use config file values as CLI flag defaults
  go/cli/cmd/kagent/main.go
Owners: @EItanya, @ilackarms, @yuval-k

feat: enable tracing for crewai
  python/packages/kagent-core/src/kagent/core/tracing/_utils.py
  python/packages/kagent-crewai/pyproject.toml
  python/packages/kagent-crewai/src/kagent/crewai/_a2a.py
  python/packages/kagent-crewai/src/kagent/crewai/_executor.py
Owners: @EItanya, @peterj, @yuval-k

Handle agent names with namespace in invoke.go
  go/cli/internal/cli/agent/invoke.go
Owners: @EItanya, @ilackarms, @yuval-k

Update go/cli/internal/cli/agent/invoke.go
  go/cli/internal/cli/agent/invoke.go
Owners: @EItanya, @ilackarms, @yuval-k

Remove isLoading from useEffect dependencies
  ui/src/app/models/new/page.tsx
Owners: @peterj

add a simple e2e regression test
  ui/cypress/e2e/smoke.cy.ts
  ui/src/app/models/page.tsx
  ui/src/components/models/new/BasicInfoSection.tsx
Owners: @peterj

initial version
  design/EP-685-kmcp.md
  design/EP-991-workflow-subagents.md
  go/api/v1alpha2/agent_types.go
  go/api/v1alpha2/zz_generated.deepcopy.go
  go/config/crd/bases/kagent.dev_agents.yaml
  go/internal/adk/types.go
  go/internal/controller/translator/agent/adk_api_translator.go
  helm/kagent-crds/templates/kagent.dev_agents.yaml
  helm/kagent-crds/templates/kagent.dev_modelconfigs.yaml
  python/packages/kagent-adk/src/kagent/adk/types.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

- added agent status fields - workflow agents name <63
  go/api/v1alpha2/agent_types.go
  go/config/crd/bases/kagent.dev_agents.yaml
  go/internal/controller/agent_controller.go
  go/internal/controller/reconciler/reconciler.go
  go/internal/controller/translator/agent/adk_api_translator.go
  go/internal/controller/translator/agent/testdata/inputs/agent_with_loop_default_iterations.yaml
  go/internal/controller/translator/agent/testdata/inputs/agent_with_loop_workflow.yaml
  go/internal/controller/translator/agent/testdata/inputs/agent_with_parallel_workflow.yaml
  go/internal/controller/translator/agent/testdata/inputs/agent_with_sequential_workflow.yaml
  go/internal/controller/translator/agent/testdata/outputs/agent_with_loop_default_iterations.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_loop_workflow.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_parallel_workflow.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_sequential_workflow.json
  go/internal/utils/common.go
  helm/kagent-crds/templates/kagent.dev_agents.yaml
  python/packages/kagent-adk/src/kagent/adk/models/_openai.py
  python/packages/kagent-adk/src/kagent/adk/types.py
  python/packages/kagent-adk/tests/test_tool_name_length.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

- examples
  design/EP-991-workflow-subagents.md
  design/examples/EP-991-workflow-subagents/README.md
  design/examples/EP-991-workflow-subagents/loop-document-improvement.yaml
  design/examples/EP-991-workflow-subagents/nested-workflow.yaml
  design/examples/EP-991-workflow-subagents/parallel-research.yaml
  design/examples/EP-991-workflow-subagents/sequential-code-pipeline.yaml
Owners: none

- fix copilot review comments
  go/internal/controller/translator/agent/adk_api_translator.go
  python/packages/kagent-adk/src/kagent/adk/types.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

- fixed copilot review comments - added unit tests - improved coverage 73%
  python/Makefile
  python/packages/kagent-adk/pyproject.toml
  python/packages/kagent-adk/tests/test_a2a.py
  python/packages/kagent-adk/tests/test_event_converter_extended.py
  python/packages/kagent-adk/tests/test_part_converter.py
  python/packages/kagent-adk/tests/test_request_converter.py
  python/packages/kagent-adk/tests/test_session_service.py
  python/packages/kagent-adk/tests/test_token.py
  python/packages/kagent-adk/tests/test_types.py
  python/uv.lock
Owners: @EItanya, @peterj, @yuval-k

def to_agent - refactored
  python/packages/kagent-adk/src/kagent/adk/types.py
  python/packages/kagent-adk/tests/test_types.py
Owners: @EItanya, @peterj, @yuval-k

linter - format fixes
  python/Makefile
  python/packages/kagent-adk/src/kagent/adk/models/_openai.py
  python/packages/kagent-adk/src/kagent/adk/types.py
  python/packages/kagent-adk/tests/test_a2a.py
  python/packages/kagent-adk/tests/test_event_converter_extended.py
  python/packages/kagent-adk/tests/test_part_converter.py
  python/packages/kagent-adk/tests/test_request_converter.py
  python/packages/kagent-adk/tests/test_session_service.py
  python/packages/kagent-adk/tests/test_token.py
  python/packages/kagent-adk/tests/test_tool_name_length.py
  python/packages/kagent-adk/tests/test_types.py
  python/packages/kagent-crewai/src/kagent/crewai/_a2a.py
  python/packages/kagent-crewai/src/kagent/crewai/_executor.py
  python/packages/kagent-crewai/src/kagent/crewai/_listeners.py
Owners: @EItanya, @peterj, @yuval-k

Update go/cli/internal/cli/agent/invoke.go
  go/cli/internal/cli/agent/invoke.go
Owners: @EItanya, @ilackarms, @yuval-k

fix(ui): auto-update list of agents and MCP servers (#975)
  ui/src/app/actions/agents.ts
  ui/src/app/actions/servers.ts
Owners: @peterj

make mcp.TranslatorPlugin type public
  go/internal/controller/translator/mcp/translator_adapter.go
  go/pkg/mcp_translator/mcp_translator_types.go
Owners: @EItanya, @ilackarms, @yuval-k

add-mcp command and wizard
  go/cli/cmd/kagent/main.go
  go/cli/internal/agent/frameworks/adk/python/generator.go
  go/cli/internal/agent/frameworks/adk/python/templates/agent/agent.py.tmpl
  go/cli/internal/agent/frameworks/adk/python/templates/agent/mcp_tools.py.tmpl
  go/cli/internal/agent/frameworks/common/base_generator.go
  go/cli/internal/agent/frameworks/common/manifest_manager.go
  go/cli/internal/cli/agent/add_mcp.go
  go/cli/internal/tui/dialogs/mcp_server_wizard.go
  go/cli/internal/tui/util/jsonutil.go
Owners: @EItanya, @ilackarms, @yuval-k

feat: implement STS client and integration in kagent-adk
  python/Dockerfile
  python/Makefile
  python/packages/kagent-adk/pyproject.toml
  python/packages/kagent-adk/src/kagent/adk/__init__.py
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
  python/packages/kagent-adk/src/kagent/adk/_service_account_service.py
  python/packages/kagent-adk/src/kagent/adk/_sts_token_service.py
  python/packages/kagent-adk/src/kagent/adk/token_plugin.py
  python/packages/kagent-adk/src/kagent/adk/wrapped_session_service.py
  python/packages/kagent-adk/tests/conftest.py
  python/packages/kagent-adk/tests/integration/test_authentication_flow.py
  python/packages/kagent-adk/tests/unittests/test_service_account_service.py
  python/packages/kagent-adk/tests/unittests/test_sts_token_service.py
  python/packages/kagent-core/pyproject.toml
  python/packages/kagent-core/src/kagent/core/a2a/_task_store.py
  python/packages/kagent-crewai/src/kagent/crewai/_a2a.py
  python/packages/kagent-crewai/src/kagent/crewai/_executor.py
  python/packages/kagent-crewai/src/kagent/crewai/_listeners.py
  python/packages/kagent-langgraph/pyproject.toml
  python/packages/kagent-sts/pyproject.toml
  python/packages/kagent-sts/src/kagent/sts/__init__.py
  python/packages/kagent-sts/src/kagent/sts/_client.py
  python/packages/kagent-sts/src/kagent/sts/_config.py
  python/packages/kagent-sts/src/kagent/sts/_exceptions.py
  python/packages/kagent-sts/src/kagent/sts/_models.py
  python/packages/kagent-sts/src/kagent/sts/_utils.py
  python/packages/kagent-sts/tests/test_client.py
  python/packages/kagent-sts/tests/test_models.py
  python/pyproject.toml
  python/uv.lock
Owners: @EItanya, @peterj, @yuval-k

fix: remove async def for _store_token_in_session method
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
Owners: @EItanya, @peterj, @yuval-k

fix: remove await in test
  python/packages/kagent-adk/tests/integration/test_authentication_flow.py
Owners: @EItanya, @peterj, @yuval-k
