Repository kagent-dev/kagent, changes with the owners that CODEOWNERS names for each.
All owners: @EItanya, @peterj, @ilackarms, @yuval-k

test: add debug logs to figure out why test passes locally but not in CI
  go/test/e2e/invoke_api_test.go
Owners: @EItanya, @ilackarms, @yuval-k

test: use docker.host.internal instead of localhost
  go/test/e2e/invoke_api_test.go
Owners: @EItanya, @ilackarms, @yuval-k

test fix
  .github/workflows/ci.yaml
  go/test/e2e/invoke_api_test.go
  go/test/e2e/mocks/mock_sts_server.go
Owners: @EItanya, @ilackarms, @yuval-k

refactor: CI cleanup
  .github/workflows/ci.yaml
Owners: none

fix: add before_run_callback for initial connection to streamable http endpoint
  python/packages/agw-sts/src/agw/adk/adk_integration.py
Owners: @EItanya, @peterj, @yuval-k

ui change for testing purposes
  ui/src/app/a2a/[namespace]/[agentName]/route.ts
Owners: @peterj

remove invalid name field and unused import
  python/packages/agw-sts/src/agw/adk/adk_integration.py
Owners: @EItanya, @peterj, @yuval-k

feat(mcpserver): add configurable init container image
  contrib/tools/mcpserver-custom-registry-example.yaml
  go/api/v1alpha1/mcpserver_types.go
  go/api/v1alpha1/zz_generated.deepcopy.go
  go/config/crd/bases/kagent.dev_mcpservers.yaml
  go/internal/controller/translator/mcp/translator_adapter.go
  helm/kagent-crds/templates/kagent.dev_mcpservers.yaml
Owners: @EItanya, @ilackarms, @yuval-k

Remove Memory section from README
  README.md
Owners: @EItanya, @peterj, @ilackarms, @yuval-k

fix(version): only stop port-forwarding when successfully connected
  go/cli/cmd/kagent/main.go
Owners: @EItanya, @ilackarms, @yuval-k

refactor(mcpserver): simplify init container image logic
  go/internal/controller/translator/mcp/translator_adapter.go
Owners: @EItanya, @ilackarms, @yuval-k

Fix X-User-ID header and user_id session
  contrib/agents/workflow-agent-example.yaml
  go/Makefile
  go/config/crd/bases/kagent.dev_modelconfigs.yaml
  go/internal/httpserver/server.go
  helm/kagent-crds/templates/kagent.dev_modelconfigs.yaml
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
  python/packages/kagent-adk/src/kagent/adk/converters/request_converter.py
  python/packages/kagent-adk/src/kagent/adk/types.py
  python/packages/kagent-adk/tests/test_a2a.py
  python/packages/kagent-adk/tests/test_agent_executor.py
  python/packages/kagent-adk/tests/test_request_converter.py
  python/packages/kagent-adk/tests/test_session_user_propagation.py
  python/packages/kagent-adk/tests/test_types_user_id.py
  python/packages/kagent-core/src/kagent/core/a2a/__init__.py
  python/packages/kagent-core/src/kagent/core/a2a/_requests.py
  python/packages/kagent-core/tests/test_middleware.py
  python/packages/kagent-core/tests/test_requests.py
  python/packages/kagent-crewai/src/kagent/crewai/_a2a.py
  python/packages/kagent-crewai/src/kagent/crewai/_executor.py
  python/packages/kagent-langgraph/pyproject.toml
  python/packages/kagent-langgraph/src/kagent/langgraph/_a2a.py
  python/packages/kagent-langgraph/src/kagent/langgraph/_executor.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

contrib / a2a inspector
  contrib/a2a/a2a-inspector/Dockerfile
  contrib/a2a/a2a-inspector/Makefile
  contrib/a2a/a2a-inspector/a2a-inspector.yaml
Owners: none

workflow agents test
  Makefile
  contrib/a2a/a2a-inspector/README.md
  contrib/a2a/a2a-inspector/a2a-inspector.yaml
  contrib/agents/workflow-agent-context-example.yaml
  go/config/crd/bases/kagent.dev_modelconfigs.yaml
  helm/kagent-crds/templates/kagent.dev_modelconfigs.yaml
  python/packages/kagent-adk/src/kagent/adk/_session_service.py
  python/packages/kagent-adk/src/kagent/adk/agents/__init__.py
  python/packages/kagent-adk/src/kagent/adk/agents/sequential.py
  python/packages/kagent-adk/src/kagent/adk/types.py
  python/packages/kagent-adk/tests/e2e/README.md
  python/packages/kagent-adk/tests/e2e/__init__.py
  python/packages/kagent-adk/tests/e2e/pytest.ini
  python/packages/kagent-adk/tests/e2e/run_tests.sh
  python/packages/kagent-adk/tests/e2e/test_shared_sessions.py
  python/packages/kagent-adk/tests/fixtures/__init__.py
  python/packages/kagent-adk/tests/fixtures/memory_utils.py
  python/packages/kagent-adk/tests/integration/__init__.py
  python/packages/kagent-adk/tests/integration/test_workflow_context.py
  python/packages/kagent-adk/tests/test_sequential_agent.py
  python/pyproject.toml
  tests/e2e/pytest.ini
Owners: @EItanya, @peterj, @ilackarms, @yuval-k

workflow agents ui
  ui/src/components/chat/ChatMessage.tsx
  ui/src/lib/messageHandlers.ts
  ui/src/lib/utils.ts
Owners: @peterj

workflow agents card
  contrib/agents/workflow-agent-context-example.yaml
  go/internal/controller/translator/agent/adk_api_translator.go
  go/internal/controller/translator/agent/workflow_card_builder.go
  go/internal/controller/translator/agent/workflow_card_builder_test.go
  ui/src/components/chat/ChatInterface.tsx
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

fix: Complete AnyUrl serialization fix for MCP tools and all integrations
  python/packages/kagent-adk/pyproject.toml
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/_session_service.py
  python/packages/kagent-core/src/kagent/core/a2a/_task_store.py
  python/packages/kagent-crewai/src/kagent/crewai/_executor.py
  python/packages/kagent-crewai/src/kagent/crewai/_memory.py
  python/packages/kagent-crewai/src/kagent/crewai/_state.py
  python/packages/kagent-langgraph/src/kagent/langgraph/_checkpointer.py
  python/uv.lock
Owners: @EItanya, @peterj, @yuval-k

fix: resolve AnyUrl serialization and method signature issues
  python/packages/kagent-core/src/kagent/core/a2a/_task_store.py
Owners: @EItanya, @peterj, @yuval-k

fix(deps): update mockllm test dependency
  go/go.mod
  go/go.sum
  go/test/e2e/invoke_api_test.go
Owners: @EItanya, @ilackarms, @yuval-k

fix linting and e2e tests
  go/test/e2e/invoke_api_test.go
  python/packages/agw-sts/src/agw/adk/adk_integration.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

moving forward
  python/packages/kagent-adk/pyproject.toml
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/uv.lock
Owners: @EItanya, @peterj, @yuval-k

fix linting issues
  go/cli/internal/cli/agent/const_test.go
  go/internal/controller/agent_controller.go
  go/internal/httpserver/handlers/memory_test.go
  go/test/mockmcp/server.go
Owners: @EItanya, @ilackarms, @yuval-k

remove unused CRD
  helm/kagent-crds/templates/kagent.dev_mcpservers.yaml
Owners: @EItanya, @ilackarms, @yuval-k

fix unit tests
  .github/workflows/ci.yaml
  go/Makefile
  go/internal/httpserver/handlers/toolservers_test.go
  go/internal/httpserver/handlers/toolservertypes.go
  go/internal/httpserver/handlers/toolservertypes_test.go
Owners: @EItanya, @ilackarms, @yuval-k

don't use map
  go/internal/httpserver/handlers/toolservers.go
  go/internal/httpserver/handlers/toolservertypes.go
Owners: @EItanya, @ilackarms, @yuval-k

feat: Improve LangGraph HITL with DataPart support and event-based sync
  go/internal/database/client.go
  go/internal/database/service.go
  python/packages/kagent-core/src/kagent/core/a2a/_task_store.py
  python/packages/kagent-langgraph/src/kagent/langgraph/_executor.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

fix(kagent-adk/cli/test): fix "asyncio.exceptions.CancelledError"
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
Owners: @EItanya, @peterj, @yuval-k

fix(kagent-adk/cli/test): fix "NotADirectoryError: [Errno 20] Not a directory: 'xxx/agent-card.json'"
  python/packages/kagent-adk/src/kagent/adk/cli.py
Owners: @EItanya, @peterj, @yuval-k

chore(kagent-adk/session_sevice): add logging for Kagent API errors
  python/packages/kagent-adk/src/kagent/adk/_session_service.py
Owners: @EItanya, @peterj, @yuval-k

fix(kagent-adk): Fix comment typo for sse tools in types.py
  python/packages/kagent-adk/src/kagent/adk/types.py
Owners: @EItanya, @peterj, @yuval-k

Update go/cli/internal/cli/agent/run.go
  go/cli/internal/cli/agent/run.go
Owners: @EItanya, @ilackarms, @yuval-k

Update go/cli/internal/agent/frameworks/common/manifest_manager.go
  go/cli/internal/agent/frameworks/common/manifest_manager.go
Owners: @EItanya, @ilackarms, @yuval-k

Update go/cli/cmd/kagent/main.go
  go/cli/cmd/kagent/main.go
Owners: @EItanya, @ilackarms, @yuval-k

fix(task_store): update task model dump mode to 'json' in API request (fixes tool call to github mcp server fails #976)
  python/packages/kagent-core/src/kagent/core/a2a/_task_store.py
Owners: @EItanya, @peterj, @yuval-k

add common k8s labels
  go/internal/controller/translator/agent/adk_api_translator.go
  go/internal/controller/translator/agent/testdata/outputs/agent_with_http_toolserver.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_mcp_service.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_nested_agent.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_system_message_from_configmap.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_system_message_from_secret.json
  go/internal/controller/translator/agent/testdata/outputs/anthropic_agent.json
  go/internal/controller/translator/agent/testdata/outputs/basic_agent.json
  go/internal/controller/translator/agent/testdata/outputs/ollama_agent.json
Owners: @EItanya, @ilackarms, @yuval-k

Update go/internal/controller/translator/agent/adk_api_translator.go
  go/internal/controller/translator/agent/adk_api_translator.go
Owners: @EItanya, @ilackarms, @yuval-k

fix: udpate agentsts dep and refresh
  python/packages/agw-sts-client/pyproject.toml
  python/packages/agw-sts-client/src/agw_status_client/__init__.py
  python/packages/agw-sts-client/src/agw_status_client/_client.py
  python/packages/agw-sts-client/src/agw_status_client/_config.py
  python/packages/agw-sts-client/src/agw_status_client/_exceptions.py
  python/packages/agw-sts-client/src/agw_status_client/_models.py
  python/packages/agw-sts-client/src/agw_status_client/_utils.py
  python/packages/agw-sts-client/tests/test_client.py
  python/packages/agw-sts-client/tests/test_models.py
  python/packages/agw-sts/pyproject.toml
  python/packages/agw-sts/src/agw/actor_service.py
  python/packages/agw-sts/src/agw/adk/__init__.py
  python/packages/agw-sts/src/agw/adk/adk_integration.py
  python/packages/agw-sts/src/agw/base.py
  python/packages/agw-sts/tests/test_adk_integration.py
  python/packages/agw-sts/tests/test_base.py
  python/packages/kagent-adk/pyproject.toml
  python/uv.lock
Owners: @EItanya, @peterj, @yuval-k

Simplify server name comparison in ToolsSection
  ui/src/components/create/ToolsSection.tsx
Owners: @peterj

Enhance tool management and display logic
  ui/src/components/create/SelectToolsDialog.tsx
Owners: @peterj

Refactor AgentCard for improved status handling
  ui/src/components/AgentCard.tsx
Owners: @peterj

CODEOWNERS:

/*      @EItanya @peterj @ilackarms @yuval-k
python/ @EItanya @peterj @yuval-k
go/     @EItanya @ilackarms @yuval-k
ui/     @peterj
helm/   @EItanya @ilackarms @yuval-k
