Repository kagent-dev/kagent, changes with the owners that CODEOWNERS names for each.
All owners: @EItanya, @peterj, @ilackarms, @yuval-k

CODEOWNERS:

/*      @EItanya @peterj @ilackarms @yuval-k
python/ @EItanya @peterj @yuval-k
go/     @EItanya @ilackarms @yuval-k
ui/     @peterj
helm/   @EItanya @ilackarms @yuval-k

added comments to fix linting errors
  ui/src/app/models/new/page.tsx
Owners: @peterj

fix: add predicate.Or to properly update agents on change (#1056)
  go/internal/controller/agent_controller.go
Owners: @EItanya, @ilackarms, @yuval-k

feat(agent): default session name when auto-generating session (#1034)
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
  python/packages/kagent-adk/src/kagent/adk/_session_service.py
Owners: @EItanya, @peterj, @yuval-k

feat: enhance kagent deploy command to support .env file for environm… (#1063)
  go/cli/cmd/kagent/main.go
  go/cli/internal/cli/agent/deploy.go
  go/cli/internal/common/exec/kubectl.go
Owners: @EItanya, @ilackarms, @yuval-k

Enhance tool management and display logic
  ui/src/components/create/SelectToolsDialog.tsx
Owners: @peterj

Add CNCF logo to README (#1035)
  README.md
Owners: @EItanya, @peterj, @ilackarms, @yuval-k

add common k8s labels #1028 (#1032)
  go/internal/controller/translator/agent/adk_api_translator.go
  go/internal/controller/translator/agent/testdata/outputs/agent_with_http_toolserver.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_mcp_service.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_nested_agent.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_system_message_from_configmap.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_system_message_from_secret.json
  go/internal/controller/translator/agent/testdata/outputs/anthropic_agent.json
  go/internal/controller/translator/agent/testdata/outputs/basic_agent.json
  go/internal/controller/translator/agent/testdata/outputs/ollama_agent.json
Owners: @EItanya, @ilackarms, @yuval-k

Refactor item selection logic in SelectToolsDialog
  ui/src/components/create/SelectToolsDialog.tsx
Owners: @peterj

feat: hide Tools & Agents section for BYO agents (#1052)
  ui/src/components/sidebars/AgentDetailsSidebar.tsx
Owners: @peterj

show tool calls in TUI (#1055)
  go/cli/internal/tui/chat.go
  go/cli/internal/tui/theme/colors.go
Owners: @EItanya, @ilackarms, @yuval-k

feat: bump-kmcp-v0.1.9 (#1065)
  helm/kagent/values.yaml
Owners: @EItanya, @ilackarms, @yuval-k

added serverNamesMatch() to ui/lib/toolUtils
  ui/src/components/create/SelectToolsDialog.tsx
  ui/src/components/create/ToolsSection.tsx
  ui/src/lib/toolUtils.ts
Owners: @peterj

fix: remove v from kmcp tag (#1067)
  helm/kagent/values.yaml
Owners: @EItanya, @ilackarms, @yuval-k

Refactor AgentCard for improved status handling
  ui/src/components/AgentCard.tsx
Owners: @peterj

Added proper warning if api key is not set (#1050)
  go/cli/internal/cli/agent/run.go
  go/cli/internal/cli/agent/utils.go
Owners: @EItanya, @ilackarms, @yuval-k

fixed the tools desciption bug
  ui/src/app/models/new/page.tsx
  ui/src/components/AgentCard.tsx
  ui/src/components/create/SelectToolsDialog.tsx
  ui/src/components/create/ToolsSection.tsx
  ui/src/lib/messageHandlers.ts
  ui/src/lib/toolUtils.ts
  ui/src/lib/utils.ts
Owners: @peterj

Restore ToolsSection
  ui/src/components/create/ToolsSection.tsx
Owners: @peterj

Update SelectToolsDialog.tsx
  ui/src/components/create/SelectToolsDialog.tsx
Owners: @peterj

Remove empty line at the beginning of AgentCard.tsx
  ui/src/components/AgentCard.tsx
Owners: @peterj

Clean up ModelPage by removing unused code
  ui/src/app/models/new/page.tsx
Owners: @peterj

Update messageHandlers.ts
  ui/src/lib/messageHandlers.ts
Owners: @peterj

Clean up toolUtils.ts by removing commented code
  ui/src/lib/toolUtils.ts
Owners: @peterj

feat: implement visual agent builder with node-based interface
  ui/package-lock.json
  ui/package.json
  ui/src/app/actions/agents.ts
  ui/src/app/agents/new/page.tsx
  ui/src/app/globals.css
  ui/src/app/layout.tsx
  ui/src/components/AgentsProvider.tsx
  ui/src/components/agent-builder/BuilderModeToggle.tsx
  ui/src/components/agent-builder/Canvas.tsx
  ui/src/components/agent-builder/ErrorBoundary.tsx
  ui/src/components/agent-builder/NodeLibrary.tsx
  ui/src/components/agent-builder/VisualAgentBuilder.tsx
  ui/src/components/agent-builder/nodes/BasicInfoNode.tsx
  ui/src/components/agent-builder/nodes/LLMNode.tsx
  ui/src/components/agent-builder/nodes/OutputNode.tsx
  ui/src/components/agent-builder/nodes/SystemPromptNode.tsx
  ui/src/components/agent-builder/nodes/ToolNode.tsx
  ui/src/components/agent-builder/properties/BasicInfoPropertyEditor.tsx
  ui/src/components/agent-builder/properties/LLMPropertyEditor.tsx
  ui/src/components/agent-builder/properties/NodeProperties.tsx
  ui/src/components/agent-builder/properties/OutputPropertyEditor.tsx
  ui/src/components/agent-builder/properties/PropertyEditor.tsx
  ui/src/components/agent-builder/properties/SystemPromptPropertyEditor.tsx
  ui/src/components/agent-builder/properties/ToolPropertyEditor.tsx
  ui/src/components/onboarding/OnboardingWizard.tsx
  ui/src/lib/agent-builder/formConverter.ts
  ui/src/lib/agent-builder/graphConverter.ts
  ui/src/lib/agent-builder/utils.ts
  ui/src/lib/agent-builder/validation.ts
  ui/src/types/index.ts
Owners: @peterj

feat: Grafana-MCP Helm Chart Volume Mounts & Additional Arguments
  helm/tools/grafana-mcp/templates/deployment.yaml
  helm/tools/grafana-mcp/values.yaml
Owners: @EItanya, @ilackarms, @yuval-k

agent skills initial commit
  python/packages/kagent-adk/src/kagent/adk/skills/skill.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_shell_tool.py
Owners: @EItanya, @peterj, @yuval-k

refactor two skills system, update prompts
  python/packages/kagent-adk/src/kagent/adk/skills/skill.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_shell_tool.py
Owners: @EItanya, @peterj, @yuval-k

update bash tool to use srt
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/skills/__init__.py
  python/packages/kagent-adk/src/kagent/adk/skills/bash_tool.py
  python/packages/kagent-adk/src/kagent/adk/skills/skill_tool.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_toolset.py
  python/packages/kagent-adk/src/kagent/adk/skills/stage_artifacts_tool.py
Owners: @EItanya, @peterj, @yuval-k

refactor and expand artifacts util tools
  python/packages/kagent-adk/src/kagent/adk/artifacts/README.md
  python/packages/kagent-adk/src/kagent/adk/artifacts/__init__.py
  python/packages/kagent-adk/src/kagent/adk/artifacts/artifacts_toolset.py
  python/packages/kagent-adk/src/kagent/adk/artifacts/return_artifacts_tool.py
  python/packages/kagent-adk/src/kagent/adk/artifacts/stage_artifacts_tool.py
Owners: @EItanya, @peterj, @yuval-k

files tools
  python/packages/kagent-adk/src/kagent/adk/skills/__init__.py
  python/packages/kagent-adk/src/kagent/adk/skills/skill_system_prompt.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_plugin.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_toolset.py
  python/packages/kagent-adk/src/kagent/adk/tools/__init__.py
  python/packages/kagent-adk/src/kagent/adk/tools/bash_tool.py
  python/packages/kagent-adk/src/kagent/adk/tools/file_tools.py
Owners: @EItanya, @peterj, @yuval-k

agent working directory
  python/packages/kagent-adk/src/kagent/adk/artifacts/README.md
  python/packages/kagent-adk/src/kagent/adk/artifacts/__init__.py
  python/packages/kagent-adk/src/kagent/adk/artifacts/artifacts_toolset.py
  python/packages/kagent-adk/src/kagent/adk/artifacts/return_artifacts_tool.py
  python/packages/kagent-adk/src/kagent/adk/artifacts/session_path.py
  python/packages/kagent-adk/src/kagent/adk/artifacts/stage_artifacts_tool.py
  python/packages/kagent-adk/src/kagent/adk/skills/README.md
  python/packages/kagent-adk/src/kagent/adk/skills/skills_plugin.py
  python/packages/kagent-adk/src/kagent/adk/tools/bash_tool.py
  python/packages/kagent-adk/src/kagent/adk/tools/file_tools.py
Owners: @EItanya, @peterj, @yuval-k

ruff
  python/packages/kagent-adk/src/kagent/adk/tools/__init__.py
Owners: @EItanya, @peterj, @yuval-k

fix file path relative check
  python/packages/kagent-adk/src/kagent/adk/artifacts/return_artifacts_tool.py
Owners: @EItanya, @peterj, @yuval-k

fix init files
  python/packages/kagent-adk/src/kagent/adk/artifacts/__init__.py
  python/packages/kagent-adk/src/kagent/adk/skills/__init__.py
Owners: @EItanya, @peterj, @yuval-k

merge
  python/packages/kagent-adk/src/kagent/adk/cli.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_plugin.py
Owners: @EItanya, @peterj, @yuval-k

feat(byo): add lifespan hook for BYO agents
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/cli.py
  python/samples/adk/basic/basic/__init__.py
  python/samples/adk/basic/basic/lifespan.py
Owners: @EItanya, @peterj, @yuval-k

update Dockerfile for openai basic agent
  python/samples/openai/basic_agent/Dockerfile
  python/samples/openai/basic_agent/README.md
Owners: @EItanya, @peterj, @yuval-k

docker compose file conventional name should be lowercase - an issue when running on linux
  go/cli/internal/agent/frameworks/adk/python/templates/docker-compose.yaml.tmpl
Owners: @EItanya, @ilackarms, @yuval-k

fixes
  docs/troubleshooting/ssl-errors.md
  docs/user-guide/modelconfig-tls.md
  docs/user-guide/tls-rbac.md
  examples/modelconfig-with-tls.yaml
  go/api/v1alpha1/modelconfig_types.go
  go/api/v1alpha1/modelconfig_types_test.go
  go/api/v1alpha1/zz_generated.deepcopy.go
  go/api/v1alpha2/modelconfig_types.go
  go/api/v1alpha2/zz_generated.deepcopy.go
  go/cli/internal/agent/frameworks/adk/python/generator.go
  go/config/crd/bases/kagent.dev_modelconfigs.yaml
  go/go.mod
  go/go.sum
  go/internal/adk/types.go
  go/internal/controller/translator/agent/adk_api_translator.go
  go/internal/controller/translator/agent/tls_mounting_test.go
  go/internal/database/client.go
  go/internal/database/fake/client.go
  go/internal/httpserver/handlers/crewai.go
  helm/kagent-crds/templates/kagent.dev_modelconfigs.yaml
  python/Dockerfile
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/models/_openai.py
  python/packages/kagent-adk/src/kagent/adk/models/_ssl.py
  python/packages/kagent-adk/src/kagent/adk/skills/stage_artifacts_tool.py
  python/packages/kagent-adk/src/kagent/adk/types.py
  python/packages/kagent-adk/tests/unittests/models/test_openai.py
  python/packages/kagent-adk/tests/unittests/models/test_ssl.py
  python/packages/kagent-adk/tests/unittests/models/test_tls_e2e.py
  python/packages/kagent-adk/tests/unittests/models/test_tls_integration.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

use separate venv for bash tool
  python/Dockerfile
  python/packages/kagent-adk/src/kagent/adk/tools/bash_tool.py
Owners: @EItanya, @peterj, @yuval-k

feat(controller): Add support for Agent tolerations and affinities
  go/api/v1alpha2/agent_types.go
  go/api/v1alpha2/zz_generated.deepcopy.go
  go/config/crd/bases/kagent.dev_agents.yaml
  go/go.mod
  go/go.sum
  go/internal/controller/translator/agent/adk_api_translator.go
  go/internal/controller/translator/agent/testdata/inputs/agent_with_scheduling_attributes.yaml
  go/internal/controller/translator/agent/testdata/outputs/agent_with_scheduling_attributes.json
Owners: @EItanya, @ilackarms, @yuval-k
