Repository kagent-dev/kagent, changes with the owners that CODEOWNERS names for each.
All owners: @EItanya, @peterj, @ilackarms, @yuval-k

CODEOWNERS:

/*      @EItanya @peterj @ilackarms @yuval-k
python/ @EItanya @peterj @yuval-k
go/     @EItanya @ilackarms @yuval-k
ui/     @peterj
helm/   @EItanya @ilackarms @yuval-k

feat(agent): add support for XAI model provider
  go/cli/internal/cli/agent/const.go
Owners: @EItanya, @ilackarms, @yuval-k

feat(client): add xAI model configuration support
  go/pkg/client/api/types.go
Owners: @EItanya, @ilackarms, @yuval-k

feat(adk): add XAI model type with server-side tools support
  go/internal/adk/types.go
Owners: @EItanya, @ilackarms, @yuval-k

feat(providers): add XAI model provider support
  go/internal/httpserver/handlers/modelconfig.go
  go/internal/httpserver/handlers/models.go
  go/internal/httpserver/handlers/providers.go
Owners: @EItanya, @ilackarms, @yuval-k

refactor(api): simplify XAIConfig DeepCopyInto by delegating to OpenAIConfig
  go/api/v1alpha1/zz_generated.deepcopy.go
  go/api/v1alpha2/zz_generated.deepcopy.go
Owners: @EItanya, @ilackarms, @yuval-k

feat(crd): add xAI provider support and enhanced deployment configuration
  go/config/crd/bases/kagent.dev_modelconfigs.yaml
  helm/kagent-crds/templates/kagent.dev_agents.yaml
  helm/kagent-crds/templates/kagent.dev_modelconfigs.yaml
Owners: @EItanya, @ilackarms, @yuval-k

feat(ui): add XAI provider support to model provider combobox
  ui/src/components/ModelProviderCombobox.tsx
Owners: @peterj

feat(onboarding): add XAI model provider support to configuration step
  ui/src/components/onboarding/steps/ModelConfigStep.tsx
Owners: @peterj

feat(models): add XAI provider support and improve array parameter handling
  ui/src/app/models/new/page.tsx
Owners: @peterj

feat(translator): add XAI provider support with shared OpenAI-compatible field handling
  go/internal/controller/translator/agent/adk_api_translator.go
Owners: @EItanya, @ilackarms, @yuval-k

feat(types): add XAI model support to AgentConfig
  python/packages/kagent-adk/src/kagent/adk/types.py
Owners: @EItanya, @peterj, @yuval-k

feat(models): add XAI (xAI Grok) model support
  python/packages/kagent-adk/src/kagent/adk/models/_openai.py
Owners: @EItanya, @peterj, @yuval-k

feat(models): add XAI model support
  python/packages/kagent-adk/src/kagent/adk/models/__init__.py
Owners: @EItanya, @peterj, @yuval-k

feat(modelconfig): add support for embedded struct fields with inline json tags
  go/internal/httpserver/handlers/modelconfig.go
Owners: @EItanya, @ilackarms, @yuval-k

do not modify the agent tools at runtime, as agent can be used concurrently.
  python/packages/kagent-adk/pyproject.toml
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/cli.py
  python/packages/kagent-adk/src/kagent/adk/skills/__init__.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_plugin.py
Owners: @EItanya, @peterj, @yuval-k

add an error message if model doesn't support function calling
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
Owners: @EItanya, @peterj, @yuval-k

lint errors
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
Owners: @EItanya, @peterj, @yuval-k

fix linter errors
  python/packages/kagent-adk/src/kagent/adk/cli.py
  python/packages/kagent-core/src/kagent/core/__init__.py
Owners: @EItanya, @peterj, @yuval-k

automatically configure logging/log level when the module loads
  python/packages/kagent-adk/src/kagent/adk/cli.py
  python/packages/kagent-core/src/kagent/core/__init__.py
Owners: @EItanya, @peterj, @yuval-k

move to _logging.py
  python/packages/kagent-core/src/kagent/core/__init__.py
  python/packages/kagent-core/src/kagent/core/_logging.py
Owners: @EItanya, @peterj, @yuval-k

fix(helm): regenerate controller manifests
  go/config/crd/bases/kagent.dev_modelconfigs.yaml
  helm/kagent-crds/templates/kagent.dev_modelconfigs.yaml
Owners: @EItanya, @ilackarms, @yuval-k

cI: add check to ensure manifests are up to date
  .github/workflows/ci.yaml
Owners: none

fix: consolidate kubebuilder resource marker on v1alpha1 modelconfig CRD
  go/api/v1alpha1/modelconfig_types.go
Owners: @EItanya, @ilackarms, @yuval-k

refactor(controller): don't log details of "record not found" errors
  go/internal/httpserver/middleware_error.go
Owners: @EItanya, @ilackarms, @yuval-k

set up secret in config-hash annotation
  go/internal/controller/translator/agent/adk_api_translator.go
  go/internal/controller/translator/agent/testdata/outputs/agent_with_code.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_http_toolserver.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_mcp_service.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_nested_agent.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_scheduling_attributes.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_skills.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_system_message_from_configmap.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_system_message_from_secret.json
  go/internal/controller/translator/agent/testdata/outputs/anthropic_agent.json
  go/internal/controller/translator/agent/testdata/outputs/basic_agent.json
  go/internal/controller/translator/agent/testdata/outputs/ollama_agent.json
  go/internal/controller/translator/agent/testdata/outputs/tls-with-custom-ca.json
  go/internal/controller/translator/agent/testdata/outputs/tls-with-disabled-verify.json
  go/internal/controller/translator/agent/testdata/outputs/tls-with-system-cas-disabled.json
Owners: @EItanya, @ilackarms, @yuval-k

remove unused ModelConfigSecretHash from resolvedDeployment struct
  go/internal/controller/translator/agent/adk_api_translator.go
Owners: @EItanya, @ilackarms, @yuval-k

fix(controller): remove forced development logging
  go/pkg/app/app.go
Owners: @EItanya, @ilackarms, @yuval-k

refactor(controller): remove duplicate startup logs
  go/pkg/app/app.go
Owners: @EItanya, @ilackarms, @yuval-k

build: set controller loglevel to debug when running locally
  Makefile
Owners: @EItanya, @peterj, @ilackarms, @yuval-k

fix(helm): remove unused env var
  helm/kagent/templates/controller-deployment.yaml
Owners: @EItanya, @ilackarms, @yuval-k

feat(byo): add lifespan hook for BYO agents
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/cli.py
  python/samples/adk/basic/basic/__init__.py
  python/samples/adk/basic/basic/lifespan.py
Owners: @EItanya, @peterj, @yuval-k

feat(controller): enable cross-namespace tool references
  go/api/v1alpha2/agent_types.go
  go/config/crd/bases/kagent.dev_agents.yaml
  go/internal/controller/agent_controller.go
  go/internal/controller/translator/agent/adk_api_translator.go
  helm/kagent-crds/templates/kagent.dev_agents.yaml
Owners: @EItanya, @ilackarms, @yuval-k

feat(ui): add support for tool namespaces
  ui/src/app/actions/agents.ts
  ui/src/app/agents/new/page.tsx
  ui/src/components/create/SelectToolsDialog.tsx
  ui/src/components/create/ToolsSection.tsx
  ui/src/components/sidebars/AgentDetailsSidebar.tsx
  ui/src/lib/__tests__/toolUtils.test.ts
  ui/src/lib/toolUtils.ts
  ui/src/types/index.ts
Owners: @peterj

fix(controller): ensure upsert works on both Postgres and SQLite
  go/internal/database/service.go
Owners: @EItanya, @ilackarms, @yuval-k

feat(controller): decouple A2A API from controller reconcilation
  go/internal/a2a/a2a_registrar.go
  go/internal/controller/a2a/a2a_reconciler.go
  go/internal/controller/reconciler/reconciler.go
  go/internal/controller/translator/agent/adk_api_translator.go
  go/pkg/app/app.go
Owners: @EItanya, @ilackarms, @yuval-k

feat(controller): support configuration using env variables instead of args
  go/pkg/app/app.go
  go/pkg/app/app_test.go
Owners: @EItanya, @ilackarms, @yuval-k

fix(controller): ensure upsert works on both Postgres and SQLite
  go/internal/database/service.go
Owners: @EItanya, @ilackarms, @yuval-k

fix(helm): remove sqlite volume+mount if database is postgres
  helm/kagent/templates/controller-deployment.yaml
  helm/kagent/tests/controller-deployment_test.yaml
  helm/kagent/values.yaml
Owners: @EItanya, @ilackarms, @yuval-k

feat(controller): support configuration using env variables instead of args
  go/pkg/app/app.go
  go/pkg/app/app_test.go
Owners: @EItanya, @ilackarms, @yuval-k

feat(helm): add support for user-supplied `envFrom` for controller
  helm/kagent/templates/controller-deployment.yaml
  helm/kagent/values.yaml
Owners: @EItanya, @ilackarms, @yuval-k
