Repository kagent-dev/kagent, changes with the owners that CODEOWNERS names for each.
All owners: @EItanya, @peterj, @ilackarms, @yuval-k

feat(helm): migrate all args to env var supplied via configmap
  helm/kagent/templates/controller-configmap.yaml
  helm/kagent/templates/controller-deployment.yaml
  helm/kagent/tests/controller-deployment_test.yaml
Owners: @EItanya, @ilackarms, @yuval-k

fix(helm): remove sqlite volume+mount if database is postgres
  helm/kagent/templates/controller-deployment.yaml
  helm/kagent/tests/controller-deployment_test.yaml
  helm/kagent/values.yaml
Owners: @EItanya, @ilackarms, @yuval-k

feat(helm): add error when trying to scale controller with local SQLlite database
  helm/kagent/templates/_helpers.tpl
  helm/kagent/templates/controller-deployment.yaml
  helm/kagent/tests/controller-deployment_test.yaml
Owners: @EItanya, @ilackarms, @yuval-k

feat(helm): add RBAC resources for leader election
  helm/kagent/templates/rbac/leader-election-role.yaml
  helm/kagent/templates/rbac/leader-election-rolebinding.yaml
Owners: @EItanya, @ilackarms, @yuval-k

feat(helm): set leader elect flag using configured replicas for controller
  helm/kagent/templates/controller-configmap.yaml
Owners: @EItanya, @ilackarms, @yuval-k

chore: add postgres deployment to addons
  Makefile
  contrib/addons/postgres.yaml
Owners: @EItanya, @peterj, @ilackarms, @yuval-k

feat(helm): migrate all args to env var supplied via configmap
  helm/kagent/templates/controller-configmap.yaml
  helm/kagent/templates/controller-deployment.yaml
  helm/kagent/tests/controller-deployment_test.yaml
Owners: @EItanya, @ilackarms, @yuval-k

feat(helm): add support for user-supplied `envFrom` for controller
  helm/kagent/templates/controller-deployment.yaml
  helm/kagent/values.yaml
Owners: @EItanya, @ilackarms, @yuval-k

Add first version of the linkerd agent
  Makefile
  go/test/e2e/e2e_test.go
  helm/agents/linkerd/Chart-template.yaml
  helm/agents/linkerd/templates/agent.yaml
  helm/agents/linkerd/templates/rbac.yaml
  helm/agents/linkerd/values.yaml
  python/Dockerfile
  python/src/kagent/cli.py
  python/src/kagent/tools/linkerd/__init__.py
  python/src/kagent/tools/linkerd/_linkerd.py
Owners: @EItanya, @peterj, @ilackarms, @yuval-k

Create linkerd files based on istio agent
  .devcontainer/Dockerfile
  go/test/e2e/e2e_test.go
  helm/agents/k8s/templates/agent.yaml
  helm/agents/linkerd/Chart-template.yaml
  helm/agents/linkerd/templates/agent.yaml
  helm/agents/linkerd/templates/rbac.yaml
  helm/agents/linkerd/values.yaml
  helm/kagent/Chart-template.yaml
  helm/kagent/values.yaml
  python/src/kagent/tools/k8s/_generate_resource.py
  python/src/kagent/tools/k8s/_prompt_registry.py
  python/src/kagent/tools/k8s/_resource_types.py
  python/src/kagent/tools/k8s/linkerd/__init__.py
  python/src/kagent/tools/k8s/linkerd/_auth_policy.py
  python/src/kagent/tools/k8s/linkerd/_gateway.py
  python/src/kagent/tools/k8s/linkerd/_peer_auth.py
  python/src/kagent/tools/k8s/linkerd/_virtual_service.py
  python/src/kagent/tools/linkerd/__init__.py
  python/src/kagent/tools/linkerd/_linkerd.py
  python/src/kagent/tools/utils/tool_gen.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

CODEOWNERS:

/*      @EItanya @peterj @ilackarms @yuval-k
python/ @EItanya @peterj @yuval-k
go/     @EItanya @ilackarms @yuval-k
ui/     @peterj
helm/   @EItanya @ilackarms @yuval-k
