Repository kagent-dev/kagent, changes with the owners that CODEOWNERS names for each.
All owners: @EItanya, @peterj, @ilackarms, @yuval-k

CODEOWNERS:

/*      @EItanya @peterj @ilackarms @yuval-k
python/ @EItanya @peterj @yuval-k
go/     @EItanya @ilackarms @yuval-k
ui/     @peterj
helm/   @EItanya @ilackarms @yuval-k

fix lint
  python/packages/kagent-adk/src/kagent/adk/_session_service.py
Owners: @EItanya, @peterj, @yuval-k

pr fixes (use False for ssl_context, clean up kubebuilder validation logic)
  go/api/v1alpha2/modelconfig_types.go
  go/config/crd/bases/kagent.dev_modelconfigs.yaml
  go/internal/controller/translator/agent/testdata/outputs/agent_with_http_toolserver.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_mcp_service.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_nested_agent.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_system_message_from_configmap.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_system_message_from_secret.json
  go/internal/controller/translator/agent/testdata/outputs/anthropic_agent.json
  go/internal/controller/translator/agent/testdata/outputs/basic_agent.json
  go/internal/controller/translator/agent/testdata/outputs/ollama_agent.json
  go/internal/controller/translator/agent/testdata/outputs/tls-with-custom-ca.json
  go/internal/controller/translator/agent/testdata/outputs/tls-with-disabled-verify.json
  go/internal/controller/translator/agent/testdata/outputs/tls-with-system-cas-disabled.json
  helm/kagent-crds/templates/kagent.dev_modelconfigs.yaml
  python/packages/kagent-adk/src/kagent/adk/models/_ssl.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

fix async and await
  python/packages/kagent-adk/src/kagent/adk/_session_service.py
Owners: @EItanya, @peterj, @yuval-k

(ci) fix go-lint issues
  go/internal/controller/translator/agent/tls_mounting_test.go
Owners: @EItanya, @ilackarms, @yuval-k

fix(kagent-adk): use span processor for custom span attributes
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
  python/packages/kagent-core/src/kagent/core/tracing/_span_processor.py
  python/packages/kagent-core/src/kagent/core/tracing/_utils.py
Owners: @EItanya, @peterj, @yuval-k

(python) test fixes - 1
  python/packages/kagent-adk/tests/unittests/models/test_openai.py
  python/packages/kagent-adk/tests/unittests/models/test_ssl.py
  python/packages/kagent-adk/tests/unittests/models/test_tls_e2e.py
  python/packages/kagent-adk/tests/unittests/models/test_tls_integration.py
Owners: @EItanya, @peterj, @yuval-k

resolve ruff lint
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/cli.py
  python/packages/kagent-adk/src/kagent/adk/sandbox_code_executer.py
  python/packages/kagent-adk/src/kagent/adk/skill_fetcher.py
  python/packages/kagent-adk/src/kagent/adk/types.py
  python/packages/kagent-adk/tests/unittests/models/test_openai.py
  python/packages/kagent-adk/tests/unittests/models/test_ssl.py
  python/packages/kagent-adk/tests/unittests/models/test_tls_e2e.py
  python/packages/kagent-adk/tests/unittests/models/test_tls_integration.py
  python/packages/kagent-adk/tests/unittests/test_skill_fetcher_parse.py
Owners: @EItanya, @peterj, @yuval-k

(possible fix) add missing keyCertSign ext for test CA to resolve test failures
  python/packages/kagent-adk/tests/fixtures/certs/README.md
  python/packages/kagent-adk/tests/fixtures/certs/ca-cert.pem
  python/packages/kagent-adk/tests/fixtures/certs/ca-cert.srl
  python/packages/kagent-adk/tests/fixtures/certs/ca-extensions.conf
  python/packages/kagent-adk/tests/fixtures/certs/ca-key.pem
  python/packages/kagent-adk/tests/fixtures/certs/server-cert.pem
  python/packages/kagent-adk/tests/fixtures/certs/server-key.pem
  python/packages/kagent-adk/tests/fixtures/certs/server-req.pem
  python/packages/kagent-adk/tests/unittests/models/test_tls_e2e.py
Owners: @EItanya, @peterj, @yuval-k

unskip tests + use correct client
  python/packages/kagent-adk/src/kagent/adk/models/_openai.py
  python/packages/kagent-adk/tests/unittests/models/test_tls_e2e.py
Owners: @EItanya, @peterj, @yuval-k

py ssl e2e test fixes
  python/packages/kagent-adk/tests/unittests/models/test_ssl.py
  python/packages/kagent-adk/tests/unittests/models/test_tls_e2e.py
  python/packages/kagent-adk/tests/unittests/models/test_tls_integration.py
Owners: @EItanya, @peterj, @yuval-k

update golden tests
  go/internal/controller/translator/agent/testdata/outputs/tls-with-custom-ca.json
  go/internal/controller/translator/agent/testdata/outputs/tls-with-disabled-verify.json
  go/internal/controller/translator/agent/testdata/outputs/tls-with-system-cas-disabled.json
Owners: @EItanya, @ilackarms, @yuval-k

copilot review feedback
  python/packages/kagent-adk/src/kagent/adk/models/_ssl.py
Owners: @EItanya, @peterj, @yuval-k

python ruff
  python/packages/kagent-adk/tests/unittests/models/test_tls_e2e.py
  python/packages/kagent-adk/tests/unittests/models/test_tls_integration.py
Owners: @EItanya, @peterj, @yuval-k

python ruff format
  python/packages/kagent-adk/src/kagent/adk/models/_ssl.py
  python/packages/kagent-adk/tests/unittests/models/test_openai.py
  python/packages/kagent-adk/tests/unittests/models/test_ssl.py
  python/packages/kagent-adk/tests/unittests/models/test_tls_e2e.py
  python/packages/kagent-adk/tests/unittests/models/test_tls_integration.py
Owners: @EItanya, @peterj, @yuval-k

untrack test certs (to avoid 'security' notifications) + setup ci and target to create certs for tests as-needed
  .github/workflows/ci.yaml
  .gitignore
  python/Makefile
  python/packages/kagent-adk/tests/fixtures/certs/ca-cert.pem
  python/packages/kagent-adk/tests/fixtures/certs/ca-cert.srl
  python/packages/kagent-adk/tests/fixtures/certs/ca-key.pem
  python/packages/kagent-adk/tests/fixtures/certs/server-cert.pem
  python/packages/kagent-adk/tests/fixtures/certs/server-key.pem
  python/packages/kagent-adk/tests/fixtures/certs/server-req.pem
Owners: @EItanya, @peterj, @ilackarms, @yuval-k

fix(tracing): create parent span for agent execute requests
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
  python/packages/kagent-core/src/kagent/core/tracing/_span_processor.py
  python/packages/kagent-core/src/kagent/core/tracing/_utils.py
  python/packages/kagent-crewai/src/kagent/crewai/_executor.py
  python/packages/kagent-langgraph/src/kagent/langgraph/_executor.py
Owners: @EItanya, @peterj, @yuval-k

feat: add configurable registry support for local build/run/deploy commands
  go/cli/cmd/kagent/main.go
  go/cli/internal/cli/agent/build.go
  go/cli/internal/cli/agent/deploy.go
  go/cli/internal/cli/agent/run.go
  go/cli/internal/common/image/image.go
  go/cli/internal/config/config.go
Owners: @EItanya, @ilackarms, @yuval-k

handeled errors
  go/cli/cmd/kagent/main.go
  go/cli/internal/config/config.go
Owners: @EItanya, @ilackarms, @yuval-k

fixes
  go/api/v1alpha2/modelconfig_types.go
  go/config/crd/bases/kagent.dev_modelconfigs.yaml
  go/internal/controller/translator/agent/adk_api_translator.go
  go/internal/controller/translator/agent/testdata/outputs/basic_agent.json
  go/internal/controller/translator/agent/tls_mounting_test.go
  helm/kagent-crds/templates/kagent.dev_modelconfigs.yaml
  python/packages/kagent-adk/src/kagent/adk/models/_ssl.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

clean up ci env to clear up disk space for gh workflows
  .github/actions/initialize-environment/action.yaml
  .github/workflows/ci.yaml
  python/samples/crewai/poem_flow/Dockerfile
  python/samples/crewai/research-crew/Dockerfile
  python/samples/langgraph/currency/Dockerfile
Owners: @EItanya, @peterj, @yuval-k

remove unused directory input
  .github/actions/initialize-environment/action.yaml
Owners: none

fix: infinite re-render loop in model edit page
  ui/src/app/models/new/page.tsx
Owners: @peterj

expose skills through the UI
  go/config/crd/bases/kagent.dev_modelconfigs.yaml
  helm/kagent-crds/templates/kagent.dev_agents.yaml
  helm/kagent-crds/templates/kagent.dev_modelconfigs.yaml
  ui/src/app/actions/agents.ts
  ui/src/app/agents/new/page.tsx
  ui/src/components/AgentsProvider.tsx
  ui/src/components/sidebars/AgentDetailsSidebar.tsx
  ui/src/types/index.ts
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

fix(tracing): use a span processor to add custom span attributes
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
  python/packages/kagent-core/src/kagent/core/tracing/_span_processor.py
  python/packages/kagent-core/src/kagent/core/tracing/_utils.py
  python/packages/kagent-crewai/src/kagent/crewai/_executor.py
  python/packages/kagent-langgraph/src/kagent/langgraph/_executor.py
Owners: @EItanya, @peterj, @yuval-k

pr feedback
  ui/src/app/agents/new/page.tsx
Owners: @peterj

Update image tag to 1.1.14
  helm/kagent/values.yaml
Owners: @EItanya, @ilackarms, @yuval-k

upgrade trcp-a2a-go to v0.2.5
  go/go.mod
  go/go.sum
Owners: @EItanya, @ilackarms, @yuval-k

feat(helm): update helm agent crd with changes from base agent crd
  helm/kagent-crds/templates/kagent.dev_agents.yaml
Owners: @EItanya, @ilackarms, @yuval-k

feat(helm): add scheduling support to agent helm charts
  helm/agents/argo-rollouts/templates/agent.yaml
  helm/agents/argo-rollouts/values.yaml
  helm/agents/cilium-debug/templates/agent.yaml
  helm/agents/cilium-debug/values.yaml
  helm/agents/cilium-manager/templates/agent.yaml
  helm/agents/cilium-manager/values.yaml
  helm/agents/cilium-policy/templates/agent.yaml
  helm/agents/cilium-policy/values.yaml
  helm/agents/helm/templates/agent.yaml
  helm/agents/helm/values.yaml
  helm/agents/istio/templates/agent.yaml
  helm/agents/istio/values.yaml
  helm/agents/k8s/templates/agent.yaml
  helm/agents/k8s/values.yaml
  helm/agents/kgateway/templates/agent.yaml
  helm/agents/kgateway/values.yaml
  helm/agents/observability/templates/agent.yaml
  helm/agents/observability/values.yaml
  helm/agents/promql/templates/agent.yaml
  helm/agents/promql/values.yaml
Owners: @EItanya, @ilackarms, @yuval-k

add pod annotation for agent secret restart + status to propagate from modelconfig to agent
  go/api/v1alpha2/modelconfig_types.go
  go/config/crd/bases/kagent.dev_modelconfigs.yaml
  go/internal/controller/modelconfig_controller.go
  go/internal/controller/reconciler/reconciler.go
  go/internal/controller/reconciler/reconciler_test.go
  go/internal/controller/translator/agent/adk_api_translator.go
  helm/kagent-crds/templates/kagent.dev_agents.yaml
  helm/kagent-crds/templates/kagent.dev_modelconfigs.yaml
Owners: @EItanya, @ilackarms, @yuval-k

gen
  go/config/crd/bases/kagent.dev_modelconfigs.yaml
  helm/kagent-crds/templates/kagent.dev_modelconfigs.yaml
Owners: @EItanya, @ilackarms, @yuval-k

golden test update
  go/internal/controller/translator/agent/testdata/outputs/agent_with_code.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_http_toolserver.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_mcp_service.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_nested_agent.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_scheduling_attributes.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_skills.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_system_message_from_configmap.json
  go/internal/controller/translator/agent/testdata/outputs/agent_with_system_message_from_secret.json
  go/internal/controller/translator/agent/testdata/outputs/anthropic_agent.json
  go/internal/controller/translator/agent/testdata/outputs/basic_agent.json
  go/internal/controller/translator/agent/testdata/outputs/ollama_agent.json
  go/internal/controller/translator/agent/testdata/outputs/tls-with-custom-ca.json
  go/internal/controller/translator/agent/testdata/outputs/tls-with-disabled-verify.json
  go/internal/controller/translator/agent/testdata/outputs/tls-with-system-cas-disabled.json
Owners: @EItanya, @ilackarms, @yuval-k

remove todo comment
  go/internal/controller/translator/agent/adk_api_translator.go
Owners: @EItanya, @ilackarms, @yuval-k

aggregate multiple errors for modelconfig reconciliation
  go/internal/controller/reconciler/reconciler.go
Owners: @EItanya, @ilackarms, @yuval-k

publish kagent-crewai pckage
  .github/workflows/tag.yaml
Owners: none

feat(icons): add XAI icon component
  ui/src/components/icons/XAI.tsx
Owners: @peterj

docs(examples): add xai modelconfig example with grok-4-1-fast-reasoning
  examples/modelconfig-xai.yaml
Owners: none

feat(types): add XAI provider support with OpenAI-compatible configuration
  ui/src/types/index.ts
Owners: @peterj

feat(providers): add xAI model provider support
  ui/src/lib/providers.ts
Owners: @peterj

feat(api): add XAI model provider support
  go/api/v1alpha1/modelconfig_types.go
  go/api/v1alpha1/zz_generated.deepcopy.go
  go/api/v1alpha2/modelconfig_types.go
  go/api/v1alpha2/zz_generated.deepcopy.go
Owners: @EItanya, @ilackarms, @yuval-k
