Repository kagent-dev/kagent, changes with the owners that CODEOWNERS names for each.
All owners: @EItanya, @peterj, @ilackarms, @yuval-k

CODEOWNERS:

/*      @EItanya @peterj @ilackarms @yuval-k
python/ @EItanya @peterj @yuval-k
go/     @EItanya @ilackarms @yuval-k
ui/     @peterj
helm/   @EItanya @ilackarms @yuval-k

fix: remove deleted folders
  python/Dockerfile
Owners: @EItanya, @peterj, @yuval-k

refactor: remove UI related changes
  go/internal/httpserver/auth/authn.go
  ui/src/app/a2a/[namespace]/[agentName]/route.ts
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

feat: bump sts libraries
  python/packages/kagent-adk/pyproject.toml
  python/uv.lock
Owners: @EItanya, @peterj, @yuval-k

fix: add authn changes back
  go/internal/httpserver/auth/authn.go
Owners: @EItanya, @ilackarms, @yuval-k

feat(agent): default session name when auto-generating session
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
  python/packages/kagent-adk/src/kagent/adk/_session_service.py
Owners: @EItanya, @peterj, @yuval-k

Add CNCF logo to README
  README.md
Owners: @EItanya, @peterj, @ilackarms, @yuval-k

Update README.md
  README.md
Owners: @EItanya, @peterj, @ilackarms, @yuval-k

only add mcp_tools if there are any
  go/cli/internal/agent/frameworks/adk/python/templates/agent/agent.py.tmpl
Owners: @EItanya, @ilackarms, @yuval-k

pr feedback
  go/cli/internal/agent/frameworks/common/base_generator.go
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
Owners: @EItanya, @ilackarms, @yuval-k, @peterj

fix: use state
  python/packages/kagent-adk/pyproject.toml
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
  python/packages/kagent-adk/src/kagent/adk/_session_service.py
  python/uv.lock
Owners: @EItanya, @peterj, @yuval-k

fix e2e tests
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
  python/packages/kagent-adk/src/kagent/adk/_session_service.py
Owners: @EItanya, @peterj, @yuval-k

prevent adding the same tool multiple times
  ui/src/components/create/SelectToolsDialog.tsx
Owners: @peterj

Refactor item selection logic in SelectToolsDialog
  ui/src/components/create/SelectToolsDialog.tsx
Owners: @peterj

fix: oops
  go/cli/internal/cli/agent/deploy.go
Owners: @EItanya, @ilackarms, @yuval-k

fix: upgrade lucide-react from 0.539.0 to 0.544.0
  ui/package-lock.json
  ui/package.json
Owners: @peterj

feat: Move HITL to kagent-core for cross-executor support
  python/packages/kagent-core/pyproject.toml
  python/packages/kagent-core/src/kagent/core/a2a/__init__.py
  python/packages/kagent-core/src/kagent/core/a2a/_consts.py
  python/packages/kagent-core/src/kagent/core/a2a/_hitl.py
  python/packages/kagent-core/src/kagent/core/a2a/_task_store.py
  python/packages/kagent-core/tests/test_hitl_consts.py
  python/packages/kagent-core/tests/test_hitl_handlers.py
  python/packages/kagent-core/tests/test_hitl_utils.py
  python/packages/kagent-langgraph/src/kagent/langgraph/_checkpointer.py
  python/packages/kagent-langgraph/src/kagent/langgraph/_converters.py
  python/packages/kagent-langgraph/src/kagent/langgraph/_error_mappings.py
  python/packages/kagent-langgraph/src/kagent/langgraph/_executor.py
  python/packages/kagent-langgraph/src/kagent/langgraph/_metadata_utils.py
  python/uv.lock
Owners: @EItanya, @peterj, @yuval-k

use the ADKRunner for local dev
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
Owners: @EItanya, @peterj, @yuval-k

fix: sts adk integration implementation
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
Owners: @EItanya, @peterj, @yuval-k

fix: populate session state from events
  python/packages/kagent-adk/src/kagent/adk/_session_service.py
Owners: @EItanya, @peterj, @yuval-k

feat: bump sts libraries
  python/packages/kagent-adk/pyproject.toml
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
  python/uv.lock
Owners: @EItanya, @peterj, @yuval-k

fixed the error
  go/cli/internal/cli/agent/run.go
  go/cli/internal/cli/agent/utils.go
Owners: @EItanya, @ilackarms, @yuval-k

fix: address PR #1017 review feedback and eliminate code duplication
  slackbot/Dockerfile
  slackbot/SLACK_SETUP.md
  slackbot/src/kagent_slackbot/constants.py
  slackbot/src/kagent_slackbot/handlers/actions.py
  slackbot/src/kagent_slackbot/handlers/mentions.py
  slackbot/src/kagent_slackbot/main.py
  slackbot/src/kagent_slackbot/services/a2a_client.py
Owners: none

support sap ai core
  BUILD_VERIFICATION_REPORT.md
  CHANGELOG_SAP_AI_CORE.md
  KAGENT_RESOURCES_COMPARISON.md
  MODEL_CONFIG_FLOW.md
  MODEL_CONFIG_FLOW_SIMPLE.md
  Makefile
  PRODUCTION_DEPLOYMENT_GUIDE.md
  SAP_AI_CORE_INTEGRATION.md
  SAP_AI_CORE_INTEGRATION_SUMMARY.md
  SAP_AI_CORE_QUICKSTART.md
  SAP_AI_CORE_SDK_COMPARISON.md
  go/Makefile
  go/api/v1alpha2/modelconfig_types.go
  go/api/v1alpha2/zz_generated.deepcopy.go
  go/config/crd/bases/kagent.dev_modelconfigs.yaml
  go/internal/adk/types.go
  go/internal/controller/translator/agent/adk_api_translator.go
  helm/kagent-crds/templates/kagent.dev_modelconfigs.yaml
  helm/kagent/values.yaml
  python/packages/kagent-adk/src/kagent/adk/models/__init__.py
  python/packages/kagent-adk/src/kagent/adk/models/_sap_ai_core.py
  python/packages/kagent-adk/src/kagent/adk/models/_sap_ai_core_sdk.py
  python/packages/kagent-adk/src/kagent/adk/types.py
  python/packages/kagent-adk/tests/unittests/models/test_sap_ai_core.py
  sap-aicore-modelconfig.yaml
  test-sap-aicore-integration.sh
Owners: @EItanya, @peterj, @ilackarms, @yuval-k

fix: add predicate.Or to properly update agents on change
  go/internal/controller/agent_controller.go
Owners: @EItanya, @ilackarms, @yuval-k

show tool calls in TUI
  go/cli/internal/tui/chat.go
  go/cli/internal/tui/theme/colors.go
Owners: @EItanya, @ilackarms, @yuval-k

feat(byo): add lifespan hook for BYO agents
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/cli.py
  python/samples/adk/basic/basic/__init__.py
  python/samples/adk/basic/basic/lifespan.py
Owners: @EItanya, @peterj, @yuval-k

feat: bump-kmcp-v0.1.9
  helm/kagent/values.yaml
Owners: @EItanya, @ilackarms, @yuval-k

use kubectl to restart deployment
  go/cli/internal/cli/agent/deploy.go
  go/cli/internal/common/exec/kubectl.go
Owners: @EItanya, @ilackarms, @yuval-k

feat: enhance kagent deploy command to support .env file for environment variables
  go/cli/cmd/kagent/main.go
  go/cli/internal/cli/agent/deploy.go
Owners: @EItanya, @ilackarms, @yuval-k

refactor two skills system, update prompts
  python/packages/kagent-adk/src/kagent/adk/_agent_executor.py
  python/packages/kagent-adk/src/kagent/adk/skills/README.md
  python/packages/kagent-adk/src/kagent/adk/skills/__init__.py
  python/packages/kagent-adk/src/kagent/adk/skills/bash_tool.py
  python/packages/kagent-adk/src/kagent/adk/skills/skill.py
  python/packages/kagent-adk/src/kagent/adk/skills/skill_system_prompt.py
  python/packages/kagent-adk/src/kagent/adk/skills/skill_tool.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_plugin.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_shell_tool.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_toolset.py
  python/packages/kagent-adk/src/kagent/adk/skills/stage_artifacts_tool.py
Owners: @EItanya, @peterj, @yuval-k

agent skills initial commit
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/skills/README.md
  python/packages/kagent-adk/src/kagent/adk/skills/__init__.py
  python/packages/kagent-adk/src/kagent/adk/skills/skill.py
  python/packages/kagent-adk/src/kagent/adk/skills/skill_system_prompt.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_plugin.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_shell_tool.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_toolset.py
  python/packages/kagent-adk/src/kagent/adk/skills/stage_artifacts_tool.py
Owners: @EItanya, @peterj, @yuval-k

fix(kagent-adk/cli/test): fix "NotADirectoryError: [Errno 20] Not a directory: 'xxx/agent-card.json'"
  python/packages/kagent-adk/src/kagent/adk/cli.py
Owners: @EItanya, @peterj, @yuval-k

apply review suggests
  python/packages/kagent-adk/src/kagent/adk/cli.py
Owners: @EItanya, @peterj, @yuval-k

add --platform to build and deploy commands
  go/cli/cmd/kagent/main.go
  go/cli/internal/cli/agent/build.go
  go/cli/internal/cli/agent/deploy.go
Owners: @EItanya, @ilackarms, @yuval-k

feat: add skeleton of openai-agent skills
  python/packages/kagent-crewai/pyproject.toml
  python/packages/kagent-openai/README.md
  python/packages/kagent-openai/pyproject.toml
  python/packages/kagent-openai/src/kagent/openai/__init__.py
  python/packages/kagent-openai/src/kagent/openai/agents/__init__.py
  python/packages/kagent-openai/src/kagent/openai/agents/skills/__init__.py
  python/packages/kagent-openai/src/kagent/openai/agents/skills/_skill_loader.py
  python/packages/kagent-openai/src/kagent/openai/agents/skills/_skill_registry.py
  python/packages/kagent-openai/src/kagent/openai/agents/skills/_skill_tools.py
  python/packages/kagent-openai/src/kagent/openai/agents/tools/__init__.py
  python/packages/kagent-openai/src/kagent/openai/agents/tools/_system_tools.py
  python/packages/kagent-openai/tests/__init__.py
  python/packages/kagent-openai/tests/unittests/__init__.py
  python/packages/kagent-openai/tests/unittests/skills/__init__.py
  python/packages/kagent-openai/tests/unittests/skills/test_skills.py
  python/packages/kagent-openai/tests/unittests/tools/__init__.py
  python/packages/kagent-openai/tests/unittests/tools/test_bash_tool.py
  python/packages/kagent-openai/tests/unittests/tools/test_file_tools.py
  python/samples/crewai/poem_flow/pyproject.toml
  python/samples/crewai/research-crew/pyproject.toml
  python/uv.lock
Owners: @EItanya, @peterj, @yuval-k

fix: remove v from kmcp tag
  helm/kagent/values.yaml
Owners: @EItanya, @ilackarms, @yuval-k

remove unecessary __init__
  python/packages/kagent-adk/tests/__init__.py
  python/packages/kagent-adk/tests/unittests/__init__.py
  python/packages/kagent-openai/tests/__init__.py
  python/packages/kagent-openai/tests/unittests/__init__.py
Owners: @EItanya, @peterj, @yuval-k

Fix kmcp image tag in values.yaml
  helm/kagent/values.yaml
Owners: @EItanya, @ilackarms, @yuval-k

add skills example
  python/packages/kagent-openai/src/kagent/openai/agents/tools/__init__.py
  python/packages/kagent-openai/src/kagent/openai/agents/tools/_system_tools.py
  python/packages/kagent-openai/tests/unittests/tools/test_bash_tool.py
  python/samples/openai/skills/anthropic_skills.py
  python/samples/openai/skills/pyproject.toml
Owners: @EItanya, @peterj, @yuval-k

update bash tool to use srt
  python/packages/kagent-adk/src/kagent/adk/_a2a.py
  python/packages/kagent-adk/src/kagent/adk/skills/__init__.py
  python/packages/kagent-adk/src/kagent/adk/skills/bash_tool.py
  python/packages/kagent-adk/src/kagent/adk/skills/skill_tool.py
  python/packages/kagent-adk/src/kagent/adk/skills/skills_toolset.py
  python/packages/kagent-adk/src/kagent/adk/skills/stage_artifacts_tool.py
Owners: @EItanya, @peterj, @yuval-k
